.title1 {
    display: flex;
    justify-content: center;
}

.labtitle {
    font-size: 20px;
}

.chip {
    display: flex;
    justify-content: center;
}

.strong {
    font-weight: bolder;
}

.title {
    font-size: large;
    color: #DF6817;
    font-size: 30px;
}

ion-content {
    --background: #e8e8e8 !important;
}

.subtitle {
    margin-top: 0px;
    // font-style: italic;
    color: #DF6817;
    font-size: 16px;
    // text-decoration: underline;
}

.message {
    // padding-left: 5px !important;
    // padding-right: 5px !important;
    padding-bottom: 10px;
}

.li {}

.ul {
    padding-inline-start: 10px;
}

.text-content {
    padding-top: 14px
}

.card-header {
    padding-top: 2px;
    text-align: right;
}

// .accordion {
//     font-size: 14px;
//     font-weight: bolder;
//     text-decoration: underline;
//     border-radius: 10px;
// }
.imggrid {
    padding: 1px;
}

.imgcol {
    padding: 1px;
}

.card-content {
    // display: flex;
    text-align: justify;
    // padding: 0;
}

.points {
    padding-top: 0;
}

.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.no-padding0 {
    padding: 0px;
}

.checkingrid {
    margin: 0px !important;
}

.nopaddingbottom {
    padding-bottom: 0px !important;
}

.nopaddingtop2 {
    padding-top: 4px !important;
}

.ion-padding {
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
}

.bold {
    font-weight: bolder;
    padding-left: 10px;
    color: black;
    padding-top: 5px;
}

.tit {
    font-size: 16px;
    font-weight: bolder;
}

.description {
    font-size: 12px;
    font-style: italic;
    line-height: normal;
}

.row {
    padding-bottom: 7px;
}

.paddingbottom3 {
    padding-bottom: 3px;
}

.footcard {
    background: white;
}

.card-content2 {
    text-align: center;
    padding: 3px;
}

.people {
    font-size: 15px;
    font-weight: 600;
}

.descriptionb {
    font-size: 18px;
    font-weight: bolder;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: CerealBold;
}

.spaces {
    font-style: italic;
    line-height: normal;
}

.price {
    padding-top: 5px;
    text-align: right;
    font-size: 23px;
    font-weight: bolder;
    color: black;
}

.note {
    font-size: 10px;
    line-height: normal;
    text-align: right;
}

// .accordion {
//     font-size: 16px;
// }
.starts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bungalowname {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    color: black;
}

// .itemcomment {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
// }
.avatar {
    font-size: 40px;
    color: black;
    display: flex;
    align-items: flex-start;
}

// .avatarimg {
//     width: 33px;
//     height: 33px;
// }
.comments {
    padding-left: 6px;
}

.month {
    font-size: 13px;
    font-weight: 800;
    // text-align: right;
    // padding-top: 3px;
}

.name {
    font-size: 16px;
    font-weight: 800;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // flex-direction: column;
}

.comment {
    font-size: 12px;
    list-style: normal;
    font-style: italic;
    padding-top: 3px;
    text-align: center;
}

hr {
    background: #e8e8e8;
}

.commentstars {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.commenttitle {
    display: flex;
    justify-content: space-between;
}

.columncomment {
    width: 100%;
}

.qtycomments {}

.labelcomments {
    --background: white;
    // border-radius: 50%;
    --color: #FF385D;
    display: flex;
    height: 23px;
    justify-content: center;
    align-items: center;
}