<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title class="title1">
            <ion-chip [outline]="true" color="warning" class="chip">
                <ion-avatar color="light">
                    <img alt="image of leon" src="../../assets/img/leon.png" />
                </ion-avatar>
                <ion-label class="labtitle">Bungalow León</ion-label>
            </ion-chip>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card class="reservation">
        <!-- <swiper [config]="config" #swiperSlideShow>
            <ng-template swiperSlide>
                <img alt="Bienvenida3" src="../../assets/img/Logo.svg" />
            </ng-template>
            <ng-template swiperSlide>
                <img alt="Bienvenida3" src="../../assets/img/VillaErnestina3.png" />
            </ng-template>
            <ng-template swiperSlide>
                <img alt="Bienvenida" src="../../assets/img/VillaErnestina0.jpeg" />
            </ng-template>
            <ng-template swiperSlide>
                <img alt="Bienvenida2" src="../../assets/img/VillaErnestina1.jpeg" />
            </ng-template>
            <ng-template swiperSlide>
                <img alt="Bienvenida3" src="../../assets/img/VillaErnestina2.jpeg" />
            </ng-template>
            <ng-template swiperSlide>
                <img alt="Bienvenida3" src="../../assets/img/VillaErnestina4.jpeg" />
            </ng-template>
            <ng-template swiperSlide>
                <img alt="Bienvenida3" src="../../assets/img/VillaErnestina5.jpeg" />
            </ng-template>
            <ng-template swiperSlide>
                <img alt="Bienvenida3" src="../../assets/img/VillaErnestina6.jpeg" />
            </ng-template>
        </swiper> -->
        <img alt="Bienvenida3" src="../../assets/img/VillaErnestina6.jpeg" />
        <ion-card-header class="card-header">
            <!-- <ion-card-title class="strong title">Ideal para parejas</ion-card-title> -->
            <ion-card-subtitle class="strong subtitle">"Para disfrutar en familia..."</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
    </ion-card>
</ion-content>