/*.title1 {
    display: flex;
    justify-content: center;
}

.labtitle {
    font-size: 20px;
}

.chip {
    display: flex;
    justify-content: center;
}

.strong {
    font-weight: bolder;
}

.title {
    font-size: large;
    color: #DF6817;
    font-size: 30px;
}

ion-content {
    --background: #e8e8e8 !important;
}

.subtitle {
    margin-top: 0px;
    // font-style: italic;
    color: #DF6817;
    font-size: 16px;
    // text-decoration: underline;
}

.message {
    // padding-left: 5px !important;
    // padding-right: 5px !important;
    padding-bottom: 10px;
}

.li {}

.ul {
    padding-inline-start: 10px;
}

.text-content {
    padding-top: 14px
}

.card-header {
    padding-top: 2px;
    text-align: right;
}

// .accordion {
//     font-size: 14px;
//     font-weight: bolder;
//     text-decoration: underline;
//     border-radius: 10px;
// }
.imggrid {
    padding: 1px;
}

.imgcol {
    padding: 1px;
}

.card-content {
    // display: flex;
    text-align: justify;
    // padding: 0;
}

.points {
    padding-top: 0;
}

.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.no-padding0 {
    padding: 0px;
}

.checkingrid {
    margin: 0px !important;
}

.nopaddingbottom {
    padding-bottom: 0px !important;
}

.nopaddingtop2 {
    padding-top: 4px !important;
}

.ion-padding {
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
}

.bold {
    font-weight: bolder;
    padding-left: 10px;
    color: black;
    padding-top: 5px;
}

.tit {
    font-size: 16px;
    font-weight: bolder;
}

.description {
    font-size: 12px;
    font-style: italic;
    line-height: normal;
}

.row {
    padding-bottom: 7px;
}

.paddingbottom3 {
    padding-bottom: 3px;
}

.footcard {
    background: white;
}

.card-content2 {
    text-align: center;
    padding: 3px;
}

.people {
    font-size: 15px;
    font-weight: 600;
}

.descriptionb {
    font-size: 18px;
    font-weight: bolder;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: CerealBold;
}

.spaces {
    font-style: italic;
    line-height: normal;
}

.price {
    padding-top: 5px;
    text-align: right;
    font-size: 23px;
    font-weight: bolder;
    color: black;
}

.note {
    font-size: 10px;
    line-height: normal;
    text-align: right;
}

// .accordion {
//     font-size: 16px;
// }
.starts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bungalowname {
    display: flex;
    justify-content: space-between;
    color: black;
}

// .itemcomment {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
// }
.avatar {
    font-size: 40px;
    color: black;
    display: flex;
    align-items: flex-start;
}

// .avatarimg {
//     width: 33px;
//     height: 33px;
// }
.comments {
    padding-left: 6px;
}

.month {
    font-size: 13px;
    font-weight: 800;
    // text-align: right;
    // padding-top: 3px;
}

.name {
    font-size: 16px;
    font-weight: 800;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // flex-direction: column;
}

.comment {
    font-size: 12px;
    list-style: normal;
    font-style: italic;
    padding-top: 3px;
    text-align: center;
}

hr {
    background: #e8e8e8;
}

.commentstars {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.commenttitle {
    display: flex;
    justify-content: space-between;
}

.columncomment {
    width: 100%;
}

.qtycomments {}

.labelcomments {
    --background: white;
    // border-radius: 50%;
    --color: #FF385D;
    display: flex;
    height: 23px;
    justify-content: center;
    align-items: center;
}*/

ion-content {
    //--background: #e8e8e8 !important;
    --background: white !important;
    font-family: CerealBook !important;
}

ion-button {
    text-transform: capitalize;
    font-weight: bolder;
}

ion-grid {
    padding: 0;
}

.colimages {
    padding: 0;
}

.images-content {
    max-height: 270px;
}

.back-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
    background-color: white;
    transition:
        transform 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
    border-radius: 50%;
    cursor: pointer;
}

.back-button-container:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.back-button {
    background-color: white;
}

.love-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    background-color: white;
    transition:
        transform 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
    border-radius: 50%;
    cursor: pointer;
}

.love-button-container:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.phone-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
    background-color: white;
    transition:
        transform 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
    border-radius: 50%;
    cursor: pointer;
}

.phone-button-container:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 25px;
    background-color: black;
    transition:
        transform 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
    border-radius: 5px;
    opacity: 0.6;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.counter {
    opacity: 1 !important;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.product-title {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.colibri-title {
    color: black;
    font-weight: bolder;
    font-size: 23px;
}

.colibri-subtitle {
    color: black;
    font-size: 16px;
    padding-top: 10px;
    font-weight: bold;
}

.colibri-description {
    font-size: 14px;
    padding-top: 5px;
    font-weight: lighter;
    color: black;
}

.colibri-insignias {
    color: black;
    font-size: 15px;
    padding-top: 10px;
    font-weight: bold;
}

.insignias {
    display: flex;
    flex-direction: row;
}

.colibri-price {
    color: black;
    font-size: 15px;
    padding-top: 10px;
    font-weight: normal;
}

.separador-container {
    width: 100%;
}

.separador-intermediate {
    padding-top: 5px;
}

.separador {
    border-top: 1px solid #dad7d7; /* Línea gris oscuro */
}

.colibri-resum {
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    color: black;
    text-align: left;
    padding-top: 0px;
    line-height: 1.4;
}

.amenities-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    max-height: 240px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.amenities {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    padding-top: 10px;
    font-weight: lighter;
    color:black;
}

.amenities-title {
    padding-left: 15px;
}

.amenities-title-label {
    color: black;
    font-weight: bolder;
    font-size: 23px;
}

.amenities-content.expanded {
    max-height: none; /* Permite que el contenedor se expanda completamente viene en un*/
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    height: 33px;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.expanded-button {
    background-color: transparent;
    --riple-color: black;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.button-container:hover {
    background: rgba(0, 0, 0, 0.1); /* Un ligero fondo gris al pasar el cursor por encima */
}

.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    border-radius: 10px;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.button-interest {
    text-decoration: none;
    width: 100%;
    height: 33px;
    color: black !important;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button-interest:hover {
    background: rgba(0, 0, 0, 0.1); /* Un ligero fondo gris al pasar el cursor por encima */
}

.amenities-column {
    padding-left: 15px;
    padding-right: 15px;
}
