<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title class="title1">
            <ion-chip [outline]="true" [color]="selectedSpace.color" class="chip">
                <ion-avatar color="light">
                    <img alt="image of leon" [src]="selectedSpace.avatarimg" />
                </ion-avatar>
                <ion-label class="labtitle">{{selectedSpace.name}}</ion-label>
            </ion-chip>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card class="reservation">
        <ion-img ionImgViewer [swipeToClose]="true" scheme="light" [src]="selectedSpace.photoscreen">
        </ion-img>

        <ion-grid class="imggrid">
            <ion-row>
                <ion-col size="4" class="imgcol" *ngFor="let img of selectedSpace.photos">
                    <ion-img ionImgViewer [swipeToClose]="true" scheme="light" [src]="img">
                    </ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-card-header class="card-header">
            <ion-card-subtitle class="strong subtitle">{{selectedSpace.slogan}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <div class="bungalowname">
                <div class="descriptionb">
                    {{selectedSpace.name}}
                </div>
                <div class="starts">
                    <ion-icon name="star"></ion-icon>
                    &nbsp;{{selectedSpace.starts|number:'1.2-2'}}&nbsp;{{"("+selectedSpace.commentsqty+")"}}
                </div>
            </div>
            <div class="people">
                {{selectedSpace.abstract}}
            </div>
            <div class="spaces">
                {{selectedSpace.description}}
            </div>

            <div class="price">
                {{selectedSpace.price}}
            </div>
            <div class="note">
                El precio es por noche, aplica al reservar de manera directa y puede variar en temporada alta
            </div>

        </ion-card-content>
        <ion-accordion-group [multiple]="false" class="accordion-group" value="first">
            <ion-accordion value="first">
                <ion-item slot="header" class="accordion" color="success">
                    <ion-icon name="chatbubbles" slot="start"></ion-icon>
                    <ion-label> Opiniones </ion-label>
                    <!-- <ion-chip color="light" mode="ios" outline="true" class="qtycomments"> -->
                    <ion-badge class="labelcomments">
                        <ion-icon name="star"></ion-icon>
                        &nbsp;{{selectedSpace.starts|number:'1.2-2'}}&nbsp;{{"("+selectedSpace.commentsqty+")"}}

                    </ion-badge>
                    <!-- </ion-chip> -->
                </ion-item>
                <div class="ion-padding points" slot="content">
                    <div class="" *ngFor="let comment of selectedSpace.comments">
                        <table>
                            <tr>
                                <td class="avatar">
                                    <ion-icon name="person-circle"></ion-icon>
                                </td>
                                <td class="columncomment">
                                    <div class="comments">
                                        <div class="commenttitle">
                                            <div class="name">
                                                {{comment.name}}
                                            </div>
                                            <div class="commentstars">
                                                <ion-icon name="star"></ion-icon>
                                                &nbsp;{{comment.starts|number:'1.2-2'}}
                                            </div>
                                        </div>
                                        <div class="month">
                                            {{comment.month}}
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td>
                                    <div class="comment">
                                        {{comment.comment}}
                                    </div>
                                </td>

                            </tr>
                        </table>
                        <hr>
                    </div>
                </div>
            </ion-accordion>
        </ion-accordion-group>
    </ion-card>
</ion-content>