<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="myForm" *ngIf="isContentLoaded">
      <ion-grid>
        <!-- Habitación -->
        <ion-row>
          <ion-col size="12">
            <ion-item id="item" class="no-padding-top">
              <ion-select
                interface="popover"
                formControlName="room"
                placeholder="Selecciona la habitación"
                (ionChange)="changeRoom()"
              >
                <ng-container *ngFor="let r of rooms">
                  <ion-select-option [value]="r.name"
                    >{{ r.name }}</ion-select-option
                  >
                </ng-container>
              </ion-select>
            </ion-item>
            <div>
              <ng-container *ngFor="let item of validatorMessages['room']">
                <div
                  class="errormessages"
                  *ngIf="(myForm.get('room').dirty || myForm.get('room').touched) && myForm.get('room').hasError(item.type)"
                >
                  {{item.message}}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <!-- Plataforma -->
        <ion-row>
          <ion-col size="12">
            <ion-item id="item" class="no-padding-top">
              <ion-segment formControlName="platform" (click)="changeRoom()">
                <ion-segment-button value="airbnb">
                  <ion-label>Airbnb</ion-label>
                </ion-segment-button>
                <ion-segment-button value="direct">
                  <ion-label>Directo</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- Nombre -->
        <ion-row>
          <ion-col size="12">
            <ion-item id="item" class="no-padding-top">
              <ion-label position="floating">Nombre</ion-label>
              <ion-input
                formControlName="name"
                [autofocus]="true"
                #inname
              ></ion-input>
            </ion-item>
            <div>
              <ng-container *ngFor="let item of validatorMessages['name']">
                <div
                  class="errormessages"
                  *ngIf="(myForm.get('name').dirty || myForm.get('name').touched) && myForm.get('name').hasError(item.type)"
                >
                  {{item.message}}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>

        <!-- Teléfono -->
        <ion-row>
          <ion-col size="12">
            <ion-item id="item" class="no-padding-top">
              <ion-label position="floating">Teléfono</ion-label>
              <ion-input type="tel" formControlName="phone"></ion-input>
            </ion-item>
            <div>
              <ng-container *ngFor="let item of validatorMessages['phone']">
                <div
                  class="errormessages"
                  *ngIf="(myForm.get('phone').dirty || myForm.get('phone').touched) && myForm.get('phone').hasError(item.type)"
                >
                  {{item.message}}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>

        <!-- Género -->
        <ion-row>
          <ion-col size="12">
            <ion-item id="item" class="no-padding-top">
              <ion-segment value="default" formControlName="gender">
                <ion-segment-button value="woman">
                  <ion-label>Mujer</ion-label>
                </ion-segment-button>
                <ion-segment-button value="man">
                  <ion-label>Hombre</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Personas y mascotas-->
        <ion-row>
          <ion-col size="4">
            <ion-item id="item" class="no-padding-top">
              <ion-label position="floating">Adultos</ion-label>
              <ion-input
                label="Personas"
                type="number"
                min="1"
                formControlName="people"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item id="item" class="no-padding-top">
              <ion-label position="floating">Menores</ion-label>
              <ion-input
                label="Personas"
                type="number"
                formControlName="children"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item id="item" class="no-padding-top">
              <ion-label position="floating">Mascotas</ion-label>
              <ion-input
                label="Personas"
                type="number"
                formControlName="pets"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Amenidades-->
        <ion-row class="amenities">
          <ion-col size="3">
            <ion-tab-button (click)="toggleFlag('bed')">
              <ion-icon
                name="bed-outline"
                [color]="bed ? 'secondary' : 'light'"
              ></ion-icon>
              <ion-label [color]="bed ? 'secondary' : 'light'"
                >Colchón</ion-label
              >
            </ion-tab-button>
          </ion-col>
          <ion-col size="3">
            <ion-tab-button (click)="toggleFlag('barbecue')">
              <ion-icon
                name="flame-outline"
                [color]="barbecue ? 'secondary' : 'light'"
              ></ion-icon>
              <ion-label [color]="barbecue ? 'secondary' : 'light'"
                >Asador</ion-label
              >
            </ion-tab-button>
          </ion-col>
          <ion-col size="3">
            <ion-tab-button (click)="toggleFlag('babyChair')">
              <ion-icon
                name="happy-outline"
                [color]="babyChair ? 'secondary' : 'light'"
              ></ion-icon>
              <ion-label [color]="babyChair ? 'secondary' : 'light'"
                >Bebé</ion-label
              >
            </ion-tab-button>
          </ion-col>
          <ion-col size="3">
            <ion-tab-button
              (click)="addpoolWristband()"
              (mousedown)="startRemoveTimer()"
              (mouseup)="clearRemoveTimer()"
              (mouseleave)="clearRemoveTimer()"
              (touchstart)="startRemoveTimer()"
              (touchend)="clearRemoveTimer()"
              (touchcancel)="clearRemoveTimer()"
            >
              <ion-icon
                name="watch-outline"
                [color]="poolWristband ? 'secondary' : 'light'"
              ></ion-icon>
              <ion-label [color]="poolWristband ? 'secondary' : 'light'"
                >Alberca</ion-label
              >
              <ion-badge [color]="poolWristband ? 'secondary' : 'light'"
                >{{poolWristband}}</ion-badge
              >
            </ion-tab-button>
          </ion-col>
        </ion-row>

        <!-- Notas-->
         <ion-row class="notes">
           <ion-col size="12">
             <ion-item id="item" class="no-padding-top">
               <ion-label position="floating">Notas</ion-label>
               <ion-textarea formControlName="notes"></ion-textarea>
             </ion-item>
           </ion-col>
         </ion-row>


        <!-- Precio -->
        <ion-row *ngIf="myForm.get('platform').value==='direct'">
          <ion-col size="12">
            <ion-item id="item" class="no-padding-top">
              <ion-label position="floating">Precio</ion-label>
              <ion-input
                type="number"
                formControlName="price"
                class="money"
                value="0"
                (change)="getRest(myForm.get('price').value, myForm.get('advance').value)"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Anticipo -->
        <ion-row *ngIf="myForm.get('platform').value==='direct'">
          <ion-col size="12">
            <ion-item id="item" class="no-padding-top">
              <ion-label position="floating">Anticipo</ion-label>
              <ion-input
                type="number"
                formControlName="advance"
                value="0"
                class="money"
                (change)="getRest(myForm.get('price').value, myForm.get('advance').value)"
              ></ion-input>
            </ion-item>
            <div>
              <ng-container
                *ngIf="(myForm.get('advance').dirty || myForm.get('advance').touched)&&myForm.get('platform').value==='direct'&&myForm.get('advance').value<500"
              >
                <div class="errormessages">
                  {{"El anticipo debe ser mayor que 500"}}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <!-- Resto -->
        <ion-row *ngIf="myForm.get('platform').value==='direct'">
          <ion-col size="12">
            <ion-item class="no-padding-top">
              <ion-label class="money restmoney"
                >Resto: {{rest|currency}}</ion-label
              >
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- Checkin -->
        <ion-row>
          <ion-col size="12">
            <ion-item id="item" class="no-padding-top">
              Entrada:&nbsp;
              <ion-datetime-button datetime="datetime"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true" #modaldatetime>
                <ng-template>
                  <ion-datetime
                    class="calendar"
                    id="datetime"
                    formControlName="dateAdmission"
                    [min]="today"
                    presentation="date"
                    (ionChange)="modaldatetime.dismiss();"
                  >
                    <span slot="title">Selecciona la fecha de ingreso</span>
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>
            <div>
              <ng-container
                *ngFor="let item of validatorMessages['dateAdmission']"
              >
                <div
                  class="errormessages"
                  *ngIf="(myForm.get('dateAdmission').dirty || myForm.get('dateAdmission').touched) && myForm.get('dateAdmission').hasError(item.type)"
                >
                  {{item.message}}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <!-- Checkout -->
        <ion-row>
          <ion-col size="3">
            <!-- <ng-container *ngFor="let item of validatorMessages['dateAdmission']"> -->

            <ion-button
              (click)="modifyNights(-1)"
              expand="block"
              color="danger"
            >
              <ion-icon name="arrow-down-outline"></ion-icon>
            </ion-button>
            <!-- </ion-item> -->
          </ion-col>
          <ion-col size="6">
            <ion-item class="no-padding-top">
              <ion-label class="day-departure"
                >{{dayDeparture | date: 'dd/MMM/yyyy'}}</ion-label
              >
            </ion-item>
          </ion-col>
          <ion-col size="3">
            <!-- <ion-item> -->
            <!-- <ion-item> {{nights}} </ion-item> -->
            <ion-button (click)="modifyNights(1)" expand="block">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </ion-button>

            <!-- <ion-input type="number"
                formControlName="nights"
                [min]="1"
                #innights
                (ionChange)="changeDepartureDate()"
              ></ion-input> -->

            <!-- <ion-datetime-button datetime="datetime2"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true" #modaldatetime2>
                <ng-template>
                  <ion-datetime
                    class="calendar"
                    id="datetime2"
                    presentation="date"
                    [min]="dayDeparture"
                    formControlName="departureDate"
                    [value]="dayDeparture"
                    (ionChange)="modaldatetime2.dismiss();"
                  >
                    <span slot="title">Selecciona la fecha de salida</span>
                  </ion-datetime>
                </ng-template>
              </ion-modal> -->
            <!-- </ion-item> -->
            <!-- </ng-container> -->
            <!-- <div>
              <ng-container
                *ngFor="let item of validatorMessages['departureDate']"
              >
                <div
                  class="errormessages"
                  *ngIf="(myForm.get('departureDate').dirty || myForm.get('departureDate').touched) && myForm.get('departureDate').hasError(item.type)"
                >
                  {{item.message}}
                </div>
              </ng-container>
            </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-grid>
  <ion-button
    (click)="newHuesped(myForm.value)"
    expand="block"
    shape="round"
    [disabled]="!myForm.valid"
  >
    <ion-icon name="add"></ion-icon> Guardar
  </ion-button>
  <!-- <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="isContentLoaded&&myForm.valid&&!myForm.get('name').dirty&&!myForm.get('phone').dirty"
  >
    <ion-fab-button (click)="newHuesped(myForm.value)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
