<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>newHuesped</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="myForm">
      <ion-row>
        <ion-col>
          <ion-item id="item">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validatorMessages['name']">
              <div class="errormessages" *ngIf="(myForm.get('name').dirty || myForm.get('name').touched) && myForm.get('name').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
          <ion-item id="item">
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input formControlName="phone"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validatorMessages['phone']">
              <div class="errormessages" *ngIf="(myForm.get('phone').dirty || myForm.get('phone').touched) && myForm.get('phone').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
          <ion-item id="item">
            <ion-datetime class="calendar" formControlName="dateAdmission" [min]="today" presentation="date">
              <span slot="title">Selecciona la fecha a reservar</span>
            </ion-datetime>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validatorMessages['dateAdmission']">
              <div class="errormessages" *ngIf="(myForm.get('dateAdmission').dirty || myForm.get('dateAdmission').touched) && myForm.get('dateAdmission').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>

          <ng-container *ngFor="let item of validatorMessages['dateAdmission']">
          <ion-item id="item" *ngIf="(myForm.get('dateAdmission').dirty || myForm.get('dateAdmission').touched) && !myForm.get('dateAdmission').hasError(item.type)">
            <ion-datetime class="calendar" presentation="date" [min]="myForm.value['dateAdmission']" formControlName="departureDate">
              <span slot="title">Selecciona la fecha de salida</span>
            </ion-datetime>
          </ion-item>
        </ng-container>
          <div>
            <ng-container *ngFor="let item of validatorMessages['departureDate']">
              <div class="errormessages" *ngIf="(myForm.get('departureDate').dirty || myForm.get('departureDate').touched) && myForm.get('departureDate').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>

          <ion-item id="item">
            <ion-select interface="popover" formControlName="room" placeholder="Selecciona la habitación">
              <ng-container *ngFor="let r of rooms">
              <ion-select-option [value]="r.room">{{r.room}}</ion-select-option>
            </ng-container>
            </ion-select>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validatorMessages['room']">
              <div class="errormessages" *ngIf="(myForm.get('room').dirty || myForm.get('room').touched) && myForm.get('room').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
          <ng-container *ngFor="let item of validatorMessages['room']">
            <ion-item id="item" *ngIf="(myForm.get('room').dirty || myForm.get('room').touched) && !myForm.get('room').hasError(item.type)">
              <ion-label position="floating">Anticipo</ion-label>
              <ion-input formControlName="advance"></ion-input>
            </ion-item>
          </ng-container>
          <div>
            <ng-container *ngFor="let item of validatorMessages['advance']">
              <div class="errormessages" *ngIf="(myForm.get('advance').dirty || myForm.get('advance').touched) && myForm.get('advance').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="myForm.valid">
    <ion-fab-button (click)="newHuesped(myForm.value)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
