<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <form [formGroup]="myForm">
    <ion-item lines="full">
      <ion-label position="floating">Token</ion-label>
      <ion-input type="text" required formControlName="token" type="password"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="login(myForm.value)">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </form>
</div>
</ion-content>
