<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ingreso
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ingreso</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->

  <h1>Bienvenido al Gran Hotel</h1>

  <div class = "Ubi">
    <h2>Ubicación</h2>
    <p>C. Juárez Sur 85, La Higuera, 63830 Santa María del Oro, Nay.</p>
  </div>

  <div class = "HoraEntrada">
    <h2>Hora Entrada (Check-In)</h2>
    <h4>03:00 pm</h4>
  </div>

  <div class = "HoraSalida">
    <h2>Hora de Salida (Check-Out)</h2>
    <h4>12:00 pm</h4>
  </div>

  <div class = "Codigo">
    <h2>Código de Acceso</h2>
  </div>
  
</ion-content>
