<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{"INGRESO" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="enFecha(huespeds[0].dateAdmission, huespeds[0].departureDate)" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> {{"INGRESO" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->

  <h1> {{"BIENVENIDA" | translate}}</h1>

  <div class = "Ubi">
    <h2>{{"UBICACION" | translate}}</h2>
    <p>C. Juárez Sur 85, La Higuera, 63830 Santa María del Oro, Nay.</p>
  </div>

  <div class = "HoraEntrada">
    <h2>{{"HORAENTRADA" | translate}}</h2>
    <h4>03:00 pm</h4>
  </div>

  <div class = "HoraSalida">
    <h2>{{"HORASALIDA" | translate}}</h2>
    <h4>12:00 pm</h4>
  </div>

  <div class = "Codigo">
    <h2>{{"CODIGO" | translate}}</h2>
    <h4>{{getCodeByRoom(huespeds[0].room)}}</h4>
  </div>

  <div class = "FaltaPagar">
    <h2>{{"SALDOPAGAR" | translate}}</h2>
    <h4 *ngIf="restante(huespeds[0].room, huespeds[0].advance) == 0" >{{"COSTOCUBIERTO" | translate}}</h4>
    <h4 *ngIf="restante(huespeds[0].room, huespeds[0].advance) != 0" >${{restante(huespeds[0].room, huespeds[0].advance)}} MXN</h4>
   
  </div>
  
</ion-content>
<ion-content [fullscreen]="true" *ngIf="!enFecha(huespeds[0].dateAdmission, huespeds[0].departureDate)" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> {{"INGRESO" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1> {{"INGRESOINCORRECTO" | translate}} </h1>
  
</ion-content>