.ion-padding {
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
}

.reservation {
    padding-top: 7px;
    text-align: justify;
    text-justify: inter-word;

    //background-color: #D9EAD3;
    //padding: 20px;
    // border-radius: 25px;
}

.header-card {
    padding: 5px;
}

ion-content {
    --background: #e8e8e8 !important;
}

.hour {
    // font-family: Arial, Helvetica, sans-serif;
    //font-size: 30px;
    // background: #075178;
    // color: white;
    text-align: center;
    // margin-left: auto;
}

.checkingrid {
    margin: 0px 0px 5px 0px !important;
}

.checkinheader {
    text-align: center;
    padding: 5px
}

.bold {
    font-weight: bolder;
    padding-left: 10px;
    color: black;
    padding-top: 5px;
}

.no-padding {
    padding: 5px;
}

.cardpsub {
    padding-left: 8px;
    padding-right: 8px;
}

.no-padding0 {
    padding: 0px;
}

.fontbold {
    font-family: CerealBold;
}

.nopaddingbottom {
    padding-bottom: 0px !important;
}

.nopaddingtop2 {
    padding-top: 4px !important;
}

.card-content2 {
    text-align: center;
    padding: 3px;
}
.card-complete {
    padding: 5px;
    margin: 0px;
    margin-bottom: 10px;
}

.wifi-content {
    padding: 0px;
}

ion-button {
    text-transform: capitalize;
    font-weight: bolder;
}

.footcard {
    background: white;
}

.paddingbottom3 {
    padding-bottom: 3px;
}

.txtcenter2 {
    text-align: center;
}

.contentcenter {
    justify-content: center;
    display: flex;
}

.wificenter {
    justify-content: center;
    display: flex;
}

.txtwhite {
    color: white;
    text-decoration: none;
}

.btntxtwhite {
    justify-content: center;
    display: flex;
    text-transform: inherit;
}

.fontbold {
    font-family: CerealBold;
}

.font17 {
    font-size: 17px;
}

.centeralign {
    display: flex;
    align-items: center;
}

.chipsend {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF385D !important;
}

.divider {
    border-top: 3px solid #e8e8e8;
    margin-bottom: 0;
    // margin: 0;
}


.prices {
    font-family: "CerealBold";
    font-size: 15px;
    padding:0px;
}

.advance {
    color: green;
}

.rest {
    color: red;
}

.social {
    font-size:30px;
}

.whatsapp {
    color:#0CC243;
}

.facebook {
    color: #0866FF;
}

.instagram {
    color: #943DA4;
}

.tiktok {
    color: #000000;
}

.logovilla {
    height: 150px;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
}