<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reglas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reglas</ion-title>
    </ion-toolbar>
  </ion-header>

 <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
 <ol start = "1">
  <li>El cliente debe de respetar los horarios de check-in y check-out expuestos en su reservación.</li>
  <li>Cada cliente es responsable por los daños y/o perjuicios que ocasione a sí mismo, a otros huésoedes y/o personal del hotel.</li>
  <li>No podran ingresar al hotel personas diferentes a las que fueron registradas.</li>
  <li>Todo cliente debe de dejar en recepción las llaves de su habitacion al momento de salir del hotel.</li>
  <li>Queda prohibido : 
  	<ul type = "i">
  		<li>Ingresar a la piscina con comida.</li>
  		<li>Portar armas de cualqueir tipo.</li>
      <li>Hacer ruidos molestos y/o provocar altercados.</li>
      <li>Cortar árboles, lavar vehiculos y hacer fogata.s</li>
  	</ul>
  </li>
</ol>

</ion-content>
