<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-segment #langSegment [value]="translate.currentLang" (click)="translate.use(langSegment.value)">
            <ion-segment-button *ngFor="let lang of translate.getLangs()" [value]="lang">
                <ion-label>{{lang}}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contentback">
    <!--BIENVENIDA -->
    <ion-card class="reservation">
        <swiper [config]="config" #swiperSlideShow>
            <ng-template swiperSlide>
                <img alt="Bienvenida3" src="../../assets/img/Logo.svg" />
            </ng-template>
            <ng-template swiperSlide>
                <img alt="Bienvenida3" src="../../assets/img/VillaErnestina3.png" />
            </ng-template>
            <ng-template swiperSlide>
                <img alt="Bienvenida" src="../../assets/img/VillaErnestina0.jpeg" />
            </ng-template>
            <ng-template swiperSlide>
                <img alt="Bienvenida2" src="../../assets/img/VillaErnestina1.jpeg" />
            </ng-template>
            <ng-template swiperSlide>
                <img alt="Bienvenida3" src="../../assets/img/VillaErnestina2.jpeg" />
            </ng-template>
            <ng-template swiperSlide>
                <img alt="Bienvenida3" src="../../assets/img/VillaErnestina4.jpeg" />
            </ng-template>
            <ng-template swiperSlide>
                <img alt="Bienvenida3" src="../../assets/img/VillaErnestina5.jpeg" />
            </ng-template>
            <ng-template swiperSlide>
                <img alt="Bienvenida3" src="../../assets/img/VillaErnestina6.jpeg" />
            </ng-template>
        </swiper>
        <ion-card-header class="no-padding" *ngIf="viewInstructions===-1||viewInstructions===1">
            <ion-card-title class="txtcenter fontbold">
                <ion-label *ngIf="translate.currentLang!='Español'">{{ 'BIENVENIDA' | translate}}{{ " "+huespedname}}</ion-label>
                <ion-label *ngIf="translate.currentLang==='Español'">{{ "HOLA "+ huespedname}}</ion-label>
            </ion-card-title>
            <ion-card-subtitle class="cardpsub">
                {{ 'BIENVENIDA_P1' | translate }}{{ roomname }} {{ 'BIENVENIDA_P11' | translate }}
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-header *ngIf="viewInstructions===3 || viewInstructions===2" class=" nopaddingtop2">
            <ion-card-title>
                <ion-label class="name">
                    {{huespedname+" "}}
                </ion-label>
                <ion-label class="thanks">{{ 'GRACIAS' | translate }}</ion-label>
            </ion-card-title>
        </ion-card-header>

        <ion-card-content *ngIf="viewInstructions===-1||viewInstructions===1">
            <div class="continue">{{ 'BIENVENIDA_P2' | translate }}</div>
            <hr class="divider">
            <div class="prices" *ngIf="(platform === 'direct') && ((price-advance)>0)">
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="4" class="ion-text-center">
                            <div class="price">Precio</div>
                            <div class="price">
                                {{price|currency}}
                            </div>
                        </ion-col>
                        <ion-col size="4" class="ion-text-center">
                            <div class="advance">
                                Anticipo
                            </div>
                            <div class="advance">

                                -{{advance|currency}}
                            </div>
                            <!-- <ion-chip [outline]="true" color="primary" *ngIf="huesped.platform === 'direct'" class="chip-card">
                            </ion-chip> -->
                        </ion-col>
                        <ion-col size="4" class="ion-text-center">
                            <div class="rest">Restante</div>
                            <div class="rest">
                                {{(price-advance)|currency}}
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>


            </div>
        </ion-card-content>
        <ion-card-content *ngIf="viewInstructions===2||viewInstructions===3">
            <div class="continue">{{ 'GRACIAS2' | translate }}{{" "}}
                <a href="https://www.facebook.com/VillaErnestinaSamao/" target="_blank">
                    <ion-icon name="logo-facebook" color="primary"></ion-icon>
                </a>
                {{" "}}{{ 'GRACIAS3' | translate }}</div>
        </ion-card-content>
    </ion-card>
    <!--RESERVACIONES POR FUERA -->
    <ion-card color="light" (click)="restart()">
        <ion-card-content class="card-content2">
            <ion-grid class="no-padding0">
                <ion-row>
                    <ion-col size="6">
                        <ion-card class="checkingrid">
                            <ion-card-header class=" nopaddingtop2 nopaddingbottom">
                                <ion-card-title>
                                    <ion-chip [outline]="true" color="primary" (click)="viewDetails('elephant')">
                                        <ion-avatar color="light">
                                            <img alt="image of elephant" src="../../assets/img/elefante.png" />
                                        </ion-avatar>
                                        <ion-label>Elefante</ion-label>
                                    </ion-chip>
                                </ion-card-title>
                            </ion-card-header>
                            <ion-card-content class="paddingbottom3">
                                {{ 'GRACIAS5' | translate }}
                                <ion-icon name="information-circle" id="infprice"></ion-icon>
                                <ion-popover trigger="infprice" triggerAction="hover">
                                    <ng-template>
                                        <ion-content class="ion-padding">
                                            <ion-label>
                                                {{ 'PRECIOS' | translate }}
                                            </ion-label>
                                            <a href="https://wa.me/+523111032724?" target="_blank">
                                                <ion-icon name='logo-whatsapp' slot="start"></ion-icon>
                                            </a>
                                        </ion-content>
                                    </ng-template>
                                </ion-popover>
                                <a href="https://wa.me/p/5539003919444086/5213111032724" target="_blank">
                                    <ion-chip color="tertiary" class="">
                                        <!-- <ion-icon name="images"></ion-icon> -->
                                        <ion-label>{{"CATALOGO"|translate}}</ion-label>
                                    </ion-chip>
                                </a>
                            </ion-card-content>
                            <ion-button color="primary" expand="block" (click)="viewDetails('elephant')">
                                Ver más...
                            </ion-button>
                        </ion-card>
                    </ion-col>
                    <ion-col size="6">
                        <ion-card class="checkingrid">
                            <ion-card-header class=" nopaddingtop2 nopaddingbottom">
                                <ion-card-title>
                                    <ion-chip [outline]="true" color="warning" (click)="viewDetails('lion')">
                                        <ion-avatar color="light">
                                            <img alt="image of leon" src="../../assets/img/leon.png" />
                                        </ion-avatar>
                                        <ion-label>León</ion-label>
                                    </ion-chip>
                                </ion-card-title>
                            </ion-card-header>
                            <ion-card-content class="paddingbottom3">
                                {{ 'GRACIAS6' | translate }}
                                <ion-icon name="information-circle" id="infpricelion"></ion-icon>
                                <ion-popover trigger="infpricelion" triggerAction="hover">
                                    <ng-template>
                                        <ion-content class="ion-padding">
                                            <ion-label>
                                                {{ 'PRECIOS' | translate }}
                                            </ion-label>
                                            <a href="https://wa.me/+523111032724?" target="_blank">
                                                <ion-icon name='logo-whatsapp' slot="start"></ion-icon>
                                            </a>
                                        </ion-content>
                                    </ng-template>
                                </ion-popover>
                                <a href="https://wa.me/p/4778164838956679/5213111032724" target="_blank">
                                    <ion-chip color="tertiary" class="">
                                        <!-- <ion-icon name="images"></ion-icon> -->
                                        <ion-label>{{"CATALOGO"|translate}}</ion-label>
                                    </ion-chip>
                                </a>
                            </ion-card-content>
                            <ion-button color="primary" expand="block" (click)="viewDetails('lion')">
                                <ion-label>Ver más...</ion-label>
                            </ion-button>
                            <!-- Modal León -->
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-card-content>
        <div class="footcard">
            <div class="bold">
                {{ 'GRACIAS7' | translate }}
            </div>
            <div class="txtcenter">
                <a href="tel:+523111032724">
                    <ion-chip [outline]="true" color="primary">
                        <ion-avatar color="primary">
                            <img alt="Silhouette of a person's head" src="../../assets/img/avatar.svg" />
                        </ion-avatar>
                        <ion-label color="primary">{{"Mariela: "}}311 103 2724</ion-label>
                        <ion-icon name="call-outline" color="primary"></ion-icon>
                    </ion-chip>
                </a>
                <ion-chip color="primary" [outline]="true">
                    <a href="https://wa.me/+523111032724" target="_blank" class="contentcenter">
                        <ion-icon name="logo-whatsapp" color="primary"></ion-icon>
                    </a>
                </ion-chip>
            </div>
        </div>

    </ion-card>
    <!--INSTRUCCIONES CHECKOUT-->
    <ion-card *ngIf="viewInstructions===2">
        <ion-card-header class="">
            <ion-card-title>{{'INSTRUCCIONESSAL' | translate}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="" *ngIf="viewInstructions===2">
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="1">
                            <ion-badge color="success">1</ion-badge>
                        </ion-col>
                        <ion-col size="11">
                            {{'INSTRUCCIONESSAL2' | translate}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="1">
                            <ion-badge color="success">2</ion-badge>
                        </ion-col>
                        <ion-col size="11">
                            {{'INSTRUCCIONESSAL3' | translate}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="1">
                            <ion-badge color="success">3</ion-badge>
                        </ion-col>
                        <ion-col size="11">
                            {{'INSTRUCCIONESSAL4' | translate}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="1">
                            <ion-badge color="success">4</ion-badge>
                        </ion-col>
                        <ion-col size="11">
                            {{'INSTRUCCIONESSAL5' | translate}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="1">
                            <ion-badge color="success">5</ion-badge>
                        </ion-col>
                        <ion-col size="11">
                            {{'INSTRUCCIONESSAL6' | translate}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="1">
                            <ion-badge color="success">6</ion-badge>
                        </ion-col>
                        <ion-col size="11">
                            {{'INSTRUCCIONESSAL61' | translate}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="1">
                            <ion-badge color="success">7</ion-badge>
                        </ion-col>
                        <ion-col size="11">
                            {{'INSTRUCCIONESSAL62' | translate}}

                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="1">
                            <ion-badge color="success">8</ion-badge>
                        </ion-col>
                        <ion-col size="11">
                            {{'INSTRUCCIONESSAL7' | translate}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="1">
                            <ion-badge color="success">9</ion-badge>
                        </ion-col>
                        <ion-col size="11">
                            {{'INSTRUCCIONESSAL8' | translate}}
                            <a href="https://wa.me/+523111032724?text=Hola Mariela ya salimos del Bungalow {{roomname}}" target="_blank">
                                <ion-chip class="chipsend" color="success">
                                    <!-- <ion-icon name="logo-whatsapp"></ion-icon> -->
                                    <ion-icon name="send" color="light"></ion-icon>
                                    <!-- <ion-label></ion-label> -->
                                </ion-chip>
                            </a>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <div class="fontbold txtcenter font17">
                                {{'CLAVECAJA' | translate}}{{ roomcode }}
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </ion-card-content>
    </ion-card>
    <!--INSTRUCCIONES CHECKOUT BLOQUEADAS -->
    <ion-card *ngIf="viewInstructions===-1||viewInstructions===1">
        <ion-card-header>
            <ion-card-title class="">{{ 'INSTRUCCIONESSAL' | translate }}</ion-card-title>
            <ion-card-subtitle class="">{{ 'HABILITAR2' | translate }}</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
    <!--INFOR CHECKIN CHECKIN -->
    <ion-grid class="no-padding" *ngIf="viewInstructions===-1||viewInstructions===1">
        <ion-row>
            <!--CHECKIN -->
            <ion-col size="6">
                <ion-card class="checkingrid">
                    <ion-card-header class="checkinheader fontbold">
                        <ion-card-title>{{ 'CHECKIN' | translate }}</ion-card-title>
                        <ion-card-subtitle>
                            <div class="">
                                <ion-chip color="tertiary">
                                    <ion-icon name="calendar-clear"></ion-icon>
                                    <ion-label>{{ admisiondate.substring(0,10) }}</ion-label>
                                </ion-chip>
                            </div>
                            <div class="hour">
                                <ion-chip color="success" id="infcheckin">
                                    <ion-icon name="time"></ion-icon>
                                    <ion-label>{{ "15:00" }}</ion-label>
                                    <ion-icon name="information-circle"></ion-icon>
                                </ion-chip>
                                <ion-popover trigger="infcheckin" triggerAction="hover">
                                    <ng-template>
                                        <ion-content class="ion-padding">
                                            <ion-label>
                                                {{ 'CHECKIN_P2' | translate }}
                                            </ion-label>
                                            <a href="https://wa.me/+523111032724?" target="_blank">
                                                <ion-icon name='logo-whatsapp' slot="start"></ion-icon>
                                            </a>
                                        </ion-content>
                                    </ng-template>
                                </ion-popover>
                            </div>
                        </ion-card-subtitle>
                    </ion-card-header>

                </ion-card>
            </ion-col>
            <!--CHECKOUT -->
            <ion-col size="6">
                <ion-card class="checkingrid">
                    <ion-card-header class="checkinheader  fontbold">
                        <ion-card-title>{{ 'CHECKOUT' | translate }}</ion-card-title>
                        <ion-card-subtitle>
                            <div class="">
                                <ion-chip color="tertiary">
                                    <ion-icon name="calendar-clear"></ion-icon>
                                    <ion-label>{{ departuredate.substring(0,10) }}</ion-label>
                                </ion-chip>
                            </div>
                            <div class="hour">
                                <ion-chip color="danger" id="infcheckout">
                                    <ion-icon name="time"></ion-icon>
                                    <ion-label>{{ "12:00" }}</ion-label>
                                    <ion-icon name="information-circle"></ion-icon>
                                </ion-chip>
                                <!-- <ion-icon name="information-circle" id="infcheckout"></ion-icon> -->
                                <ion-popover trigger="infcheckout" triggerAction="hover">
                                    <ng-template>
                                        <ion-content class="ion-padding">
                                            <ion-label>
                                                {{ 'CHECKOUT_P2' | translate }}
                                            </ion-label>
                                            <a href="https://wa.me/+523111032724?" target="_blank">
                                                <ion-icon name='logo-whatsapp' slot="start"></ion-icon>
                                            </a>
                                        </ion-content>
                                    </ng-template>
                                </ion-popover>
                            </div>
                        </ion-card-subtitle>
                    </ion-card-header>

                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!--INSTRUCCIONES DE INGRESO BLOQUEADAS -->
    <ion-card *ngIf="viewInstructions===-1">
        <ion-card-header>
            <ion-card-title class="">{{ 'INSTRUCCIONESR' | translate }}</ion-card-title>
            <ion-card-subtitle class="">{{ 'HABILITAR' | translate }}</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
    <!--INSTRUCCIONES DE INGRESO ACTIVADAS -->
    <ion-card *ngIf="viewInstructions===1">
        <ion-card-header class="">
            <ion-card-title class="fontbold">{{ 'INSTRUCCIONESR' | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="no-padding0">
            <ion-accordion-group [multiple]="false">
                <ion-accordion value="first">
                    <ion-item slot="header" class="accordion" class="accordion" color="success">
                        <ion-label> {{"UBICACION" | translate}}</ion-label>
                    </ion-item>
                    <div class="ion-padding" slot="content">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3715.769549813231!2d-104.56799578544135!3d21.359583281778768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84271919fadc9295%3A0xb213d12b58efbdd0!2sVilla%20Ernestina!5e0!3m2!1ses-419!2smx!4v1676164295465!5m2!1ses-419!2smx"
                            width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <hr class="black" />
                        <ion-label class="textjustify fontbold">
                            {{ 'INSTRUCCIONES' | translate }}
                        </ion-label>
                        <ion-label class="textjustify">{{ 'INSTRUCCION' | translate }}</ion-label>
                        <hr class="black" />
                        <iframe style="width: auto; height: 80vh; margin: auto; display: block;" src="/assets/videos/llegada.mp4">
                                </iframe>
                    </div>
                </ion-accordion>
                <ion-accordion value="second">
                    <ion-item slot="header" class="accordion" color="success">
                        <ion-label>{{ 'ACCESAR' | translate }}</ion-label>
                    </ion-item>
                    <div class="ion-padding" slot="content">
                        <ion-card>
                            <ion-card-header>
                                <ion-card-title class="fontbold font17">{{ 'ACCESO1' | translate }}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content class="">
                                {{ 'ACCESO2' | translate }}
                                <div class="fontbold txtcenter font17">
                                    {{ roomcode }}
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </div>
                </ion-accordion>
                <ion-accordion value="third">
                    <ion-item slot="header" class="accordion" color="success">
                        <ion-label>{{ 'WIFI' | translate }}</ion-label>
                    </ion-item>
                    <div class="ion-padding" slot="content">
                        <ion-card class="no-padding">
                            <ion-card-header class="nopaddingbottom fontbold">
                                <ion-card-title>{{ 'RED' | translate }}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-chip>
                                    <ion-icon name="wifi"></ion-icon>
                                    <ion-label>VILLAERNESTINAMAX</ion-label>
                                </ion-chip>
                                <ion-chip>
                                    <ion-icon name="wifi"></ion-icon>
                                    <ion-label>VILLAERNESTINAMAX_leon</ion-label>
                                </ion-chip>
                                <div class="contentcenter centeralign">
                                    <!-- <ion-note> -->
                                    <ion-label>{{ 'CONTRA' | translate }}</ion-label>
                                    <!-- </ion-note> -->
                                    <ion-button (click)="copy('17091985')" #btncopy size="small" shape="round">Copiar</ion-button>
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </div>
                </ion-accordion>
                <ion-accordion value="fourth">
                    <ion-item slot="header" class="accordion" color="success">
                        <ion-label>{{ 'STREAM' | translate }}</ion-label>
                    </ion-item>
                    <div slot="content">
                        <ion-card class="">
                            <ion-card-content class="no-padding textjustify">
                                <ion-label>{{ 'PLATAFORMAS' | translate }}</ion-label>
                            </ion-card-content>
                            <div class="txtcenter">
                                <ion-chip class="fontchip" color="tertiary">
                                    <ion-icon name="tv"></ion-icon>
                                    <ion-label>HBOMAX</ion-label>
                                </ion-chip>
                                <ion-chip class="fontchip" color="primary">
                                    <ion-icon name="tv"></ion-icon>
                                    <ion-label>Disney+</ion-label>
                                </ion-chip>
                                <ion-chip class="fontchip" color="danger">
                                    <ion-icon name="tv"></ion-icon>
                                    <ion-label>Netflix</ion-label>
                                </ion-chip>
                            </div>
                        </ion-card>
                    </div>
                </ion-accordion>
            </ion-accordion-group>
        </ion-card-content>
    </ion-card>
</ion-content>