<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            {{"INTERES" | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large"> {{"INTERES" | translate}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-grid>
        <ion-row>
            <ion-card>
                <img src="../../assets/img/VillaErnestinaCard.png" alt="" srcset="" class="card-img">
                <ion-accordion-group [multiple]="false" [value]="'third'">
                    <ion-accordion value="first">
                        <ion-item slot="header" color="light">
                            <ion-label> {{"ACTIVIDADES" | translate}}</ion-label>
                        </ion-item>
                        <div slot="content">
                            <ion-grid>
                                <ion-row>
                                    <ion-col size="6">
                                        <div class="kayak content-card">
                                            <div class="carditem">
                                                <div class="card-text">
                                                    <ion-grid>
                                                        <ion-row>
                                                            <ion-col size="12">
                                                                <ion-label class="txt-label"> {{"KAYAK" | translate}}</ion-label>
                                                            </ion-col>
                                                        </ion-row>
                                                        <ion-row>
                                                            <ion-col size="12">
                                                                <ion-button shape="round" size="small" color="success" class="card-btn" id="modalkayak" (click)="startAnimation()">
                                                                    Ver más
                                                                </ion-button>
                                                            </ion-col>
                                                        </ion-row>
                                                    </ion-grid>
                                                </div>
                                            </div>
                                        </div>
                                        <ion-modal trigger="modalkayak" #kayakmodal>
                                            <ng-template>
                                                <ion-header>
                                                    <ion-toolbar>
                                                        <ion-title>
                                                            <ion-label class="txt-label"> {{"KAYAK" | translate}}</ion-label>
                                                        </ion-title>
                                                        <ion-buttons slot="end">
                                                            <ion-button [strong]="true" (click)="cancel(5)">
                                                                <ion-icon name="close"></ion-icon>
                                                            </ion-button>
                                                        </ion-buttons>
                                                    </ion-toolbar>
                                                </ion-header>
                                                <ion-content class="ion-padding">
                                                    <ion-card class="legendcontent">
                                                        <ion-img src="../../assets/img/Kayak.jpeg"></ion-img>
                                                        <ion-card-subtitle>
                                                            <ion-label class="txt-label"> {{"KAYAK_P1" | translate}}</ion-label>
                                                        </ion-card-subtitle>
                                                        <ion-card-content>
                                                            <ol>
                                                                <li>
                                                                    {{ 'KAYAK_P2' | translate }}
                                                                </li>
                                                                <li>
                                                                    {{ 'KAYAK_P3' | translate }}
                                                                </li>
                                                                <li>
                                                                    {{ 'KAYAK_P4' | translate }}
                                                                </li>
                                                                <li>
                                                                    {{ 'KAYAK_P5' | translate }}
                                                                </li>
                                                            </ol>
                                                        </ion-card-content>
                                                    </ion-card>
                                                </ion-content>
                                            </ng-template>
                                        </ion-modal>
                                    </ion-col>
                                    <ion-col size="6">
                                        <div class="massage content-card">
                                            <div class="carditem">
                                                <div class="card-text">
                                                    <ion-grid>
                                                        <ion-row>
                                                            <ion-col size="12">
                                                                <ion-label class="txt-label"> {{"MASAJESTEMAZ" | translate}}</ion-label>
                                                            </ion-col>
                                                        </ion-row>
                                                        <ion-row>
                                                            <ion-col size="12">
                                                                <ion-button shape="round" size="small" color="success" class="card-btn" id="modalmassage" (click)="startAnimation()">
                                                                    Ver más
                                                                </ion-button>
                                                            </ion-col>
                                                        </ion-row>
                                                    </ion-grid>
                                                </div>
                                            </div>
                                        </div>
                                        <ion-modal trigger="modalmassage" #massagemodal>
                                            <ng-template>
                                                <ion-header>
                                                    <ion-toolbar>
                                                        <ion-title>
                                                            <ion-label class="txt-label"> {{"MASAJESTEMAZ" | translate}}</ion-label>
                                                        </ion-title>
                                                        <ion-buttons slot="end">
                                                            <ion-button [strong]="true" (click)="cancel(6)">
                                                                <ion-icon name="close"></ion-icon>
                                                            </ion-button>
                                                        </ion-buttons>
                                                    </ion-toolbar>
                                                </ion-header>
                                                <ion-content class="ion-padding">
                                                    <ion-card class="legendcontent">
                                                        <ion-img src="../../assets/img/Masaje.jpeg"></ion-img>
                                                        <ion-card-title>
                                                            <ion-label>{{ 'MASAJE' | translate }}<a href="tel:+523111232609">3111232609</a></ion-label>
                                                        </ion-card-title>
                                                        <ion-card-content>
                                                            <ion-note>{{ 'LANCHA_NOTE' | translate }}</ion-note>
                                                        </ion-card-content>
                                                    </ion-card>
                                                </ion-content>
                                            </ng-template>
                                        </ion-modal>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="6">
                                        <div class="temazcal content-card">
                                            <div class="carditem">
                                                <div class="card-text">
                                                    <ion-grid>
                                                        <ion-row>
                                                            <ion-col size="12">
                                                                <ion-label class="txt-label"> {{"MASAJESTEMAZ2" | translate}}</ion-label>
                                                            </ion-col>
                                                        </ion-row>
                                                        <ion-row>
                                                            <ion-col size="12">
                                                                <ion-button shape="round" size="small" color="success" class="card-btn" id="modaltemazcal" (click)="startAnimation()">
                                                                    Ver más
                                                                </ion-button>
                                                            </ion-col>
                                                        </ion-row>
                                                    </ion-grid>
                                                </div>
                                            </div>
                                        </div>
                                        <ion-modal trigger="modaltemazcal" #temazcalmodal>
                                            <ng-template>
                                                <ion-header>
                                                    <ion-toolbar>
                                                        <ion-title>
                                                            <ion-label class="txt-label"> {{"MASAJESTEMAZ2" | translate}}</ion-label>
                                                        </ion-title>
                                                        <ion-buttons slot="end">
                                                            <ion-button [strong]="true" (click)="cancel(7)">
                                                                <ion-icon name="close"></ion-icon>
                                                            </ion-button>
                                                        </ion-buttons>
                                                    </ion-toolbar>
                                                </ion-header>
                                                <ion-content class="ion-padding">
                                                    <ion-card class="legendcontent">
                                                        <ion-img src="../../assets/img/Temazcal.jpeg"></ion-img>
                                                        <ion-card-title>
                                                            <ion-label>{{ 'TEMAZCAL' | translate }}<a href="tel:+523111232609">3111232609</a></ion-label>
                                                        </ion-card-title>
                                                        <ion-card-content>
                                                            <ion-note>{{ 'LANCHA_NOTE' | translate }}</ion-note>
                                                        </ion-card-content>
                                                    </ion-card>
                                                </ion-content>
                                            </ng-template>
                                        </ion-modal>
                                    </ion-col>
                                    <ion-col size="6">
                                        <div class="ciclism content-card">
                                            <div class="carditem">
                                                <div class="card-text">
                                                    <ion-grid>
                                                        <ion-row>
                                                            <ion-col size="12">
                                                                <ion-label class="txt-label"> {{"CICLISMO" | translate}}</ion-label>
                                                            </ion-col>
                                                        </ion-row>
                                                        <ion-row>
                                                            <ion-col size="12">
                                                                <ion-button shape="round" size="small" color="success" class="card-btn" id="modalciclism" (click)="startAnimation()">
                                                                    Ver más
                                                                </ion-button>
                                                            </ion-col>
                                                        </ion-row>
                                                    </ion-grid>
                                                </div>
                                            </div>
                                        </div>
                                        <ion-modal trigger="modalciclism" #ciclismmodal>
                                            <ng-template>
                                                <ion-header>
                                                    <ion-toolbar>
                                                        <ion-title>
                                                            <ion-label class="txt-label"> {{"CICLISMO" | translate}}</ion-label>
                                                        </ion-title>
                                                        <ion-buttons slot="end">
                                                            <ion-button [strong]="true" (click)="cancel(8)">
                                                                <ion-icon name="close"></ion-icon>
                                                            </ion-button>
                                                        </ion-buttons>
                                                    </ion-toolbar>
                                                </ion-header>
                                                <ion-content class="ion-padding">
                                                    <ion-card class="legendcontent">
                                                        <ion-img src="../../assets/img/Ciclismo.jpeg"></ion-img>
                                                        <ion-card-subtitle>
                                                            <ion-label>{{ 'CICLISMO_P1' | translate }}</ion-label>
                                                        </ion-card-subtitle>
                                                        <ion-card-content>
                                                        </ion-card-content>
                                                    </ion-card>
                                                </ion-content>
                                            </ng-template>
                                        </ion-modal>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="6">
                                        <div class="boat content-card">
                                            <div class="carditem">
                                                <div class="card-text">
                                                    <ion-grid>
                                                        <ion-row>
                                                            <ion-col size="12">
                                                                <ion-label class="txt-label"> {{"LANCHA" | translate}}</ion-label>
                                                            </ion-col>
                                                        </ion-row>
                                                        <ion-row>
                                                            <ion-col size="12">
                                                                <ion-button shape="round" size="small" color="success" class="card-btn" id="modalboat" (click)="startAnimation()">
                                                                    Ver más
                                                                </ion-button>
                                                            </ion-col>
                                                        </ion-row>
                                                    </ion-grid>
                                                </div>
                                            </div>
                                        </div>
                                        <ion-modal trigger="modalboat" #boatmodal>
                                            <ng-template>
                                                <ion-header>
                                                    <ion-toolbar>
                                                        <ion-title>
                                                            <ion-label class="txt-label"> {{"LANCHA" | translate}}</ion-label>
                                                        </ion-title>
                                                        <ion-buttons slot="end">
                                                            <ion-button [strong]="true" (click)="cancel(9)">
                                                                <ion-icon name="close"></ion-icon>
                                                            </ion-button>
                                                        </ion-buttons>
                                                    </ion-toolbar>
                                                </ion-header>
                                                <ion-content class="ion-padding">
                                                    <ion-card class="legendcontent">
                                                        <ion-img src="../../assets/img/Lancha.jpeg"></ion-img>
                                                        <ion-card-subtitle>
                                                            <ol>
                                                                <li>
                                                                    {{ 'LANCHA_P1' | translate }}<a href="tel:+523112661762">3112661762</a>
                                                                </li>
                                                                <li>
                                                                    {{ 'LANCHA_P2' | translate }}<a href="tel:+523112661762">3112661762</a>
                                                                </li>
                                                            </ol>
                                                        </ion-card-subtitle>
                                                        <ion-card-content>
                                                            <ion-note>{{ 'LANCHA_NOTE' | translate }}</ion-note>
                                                        </ion-card-content>
                                                    </ion-card>
                                                </ion-content>
                                            </ng-template>
                                        </ion-modal>
                                    </ion-col>
                                    <ion-col size="6">
                                        <div class="swim content-card">
                                            <div class="carditem">
                                                <div class="card-text">
                                                    <ion-grid>
                                                        <ion-row>
                                                            <ion-col size="12">
                                                                <ion-label class="txt-label"> {{"NATACION" | translate}}</ion-label>
                                                            </ion-col>
                                                        </ion-row>
                                                        <ion-row>
                                                            <ion-col size="12">
                                                                <ion-button shape="round" size="small" color="success" class="card-btn" id="modalswim" (click)="startAnimation()">
                                                                    Ver más
                                                                </ion-button>
                                                            </ion-col>
                                                        </ion-row>
                                                    </ion-grid>
                                                </div>
                                            </div>
                                        </div>
                                        <ion-modal trigger="modalswim" #swimmodal>
                                            <ng-template>
                                                <ion-header>
                                                    <ion-toolbar>
                                                        <ion-title>
                                                            <ion-label class="txt-label"> {{"NATACION" | translate}}</ion-label>
                                                        </ion-title>
                                                        <ion-buttons slot="end">
                                                            <ion-button [strong]="true" (click)="cancel(10)">
                                                                <ion-icon name="close"></ion-icon>
                                                            </ion-button>
                                                        </ion-buttons>
                                                    </ion-toolbar>
                                                </ion-header>
                                                <ion-content class="ion-padding">
                                                    <ion-card class="legendcontent">
                                                        <ion-img src="../../assets/img/Natacion.jpeg"></ion-img>
                                                        <ion-card-subtitle>
                                                            <ion-label>{{ 'NATACION_P1' | translate }}</ion-label>
                                                        </ion-card-subtitle>
                                                        <ion-card-content>
                                                        </ion-card-content>
                                                    </ion-card>
                                                </ion-content>
                                            </ng-template>
                                        </ion-modal>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </ion-accordion>
                    <ion-accordion value="second">
                        <ion-item slot="header" color="light">
                            <ion-label> {{"TRADICION" | translate}}</ion-label>
                        </ion-item>
                        <div slot="content">
                            <ion-grid>
                                <ion-row>
                                    <ion-col size="6" id="infkayak">
                                        <div class="meal content-card">
                                            <div class="mealimg">
                                                <div class="card-text">
                                                    <ion-grid>
                                                        <ion-row>
                                                            <ion-col size="12">
                                                                <ion-label class="txt-label">{{"COMIDAS" | translate}}</ion-label>
                                                            </ion-col>
                                                        </ion-row>
                                                        <ion-row>
                                                            <ion-col size="12">
                                                                <ion-button shape="round" size="small" color="success" class="card-btn" id="modalfood" (click)="startAnimation()">
                                                                    Ver más
                                                                </ion-button>
                                                            </ion-col>
                                                        </ion-row>
                                                    </ion-grid>
                                                </div>
                                            </div>
                                        </div>
                                        <ion-modal trigger="modalfood" #foodmodal>
                                            <ng-template>
                                                <ion-header>
                                                    <ion-toolbar>
                                                        <ion-title>
                                                            <ion-label class="txt-label">{{"COMIDAS" | translate}}</ion-label>
                                                        </ion-title>
                                                        <ion-buttons slot="end">
                                                            <ion-button [strong]="true" (click)="cancel(1)">
                                                                <ion-icon name="close"></ion-icon>
                                                            </ion-button>
                                                        </ion-buttons>
                                                    </ion-toolbar>
                                                </ion-header>
                                                <ion-content class="ion-padding">
                                                    <swiper [config]="config" #swiperSlideShow>
                                                        <ng-template swiperSlide *ngFor="let meal of meals">
                                                            <ion-card>
                                                                <img alt="Comida" [src]="meal.img" />
                                                                <ion-card-header>
                                                                    <ion-card-title>
                                                                        <ion-label>{{ meal.title| translate }}</ion-label>
                                                                    </ion-card-title>
                                                                    <ion-card-subtitle>
                                                                        {{meal.subtitle}}
                                                                    </ion-card-subtitle>
                                                                    <ion-card-content>
                                                                        <ion-button *ngIf="meal.map" expand="block" [href]="meal.map" target="_blank">Ver Mapa</ion-button>
                                                                    </ion-card-content>
                                                                </ion-card-header>
                                                            </ion-card>
                                                        </ng-template>
                                                    </swiper>
                                                </ion-content>
                                            </ng-template>
                                        </ion-modal>
                                    </ion-col>
                                    <ion-col size="6">
                                        <div class="legend content-card">
                                            <div class="mealimg">
                                                <div class="card-text">
                                                    <ion-grid>
                                                        <ion-row>
                                                            <ion-col size="12">
                                                                <ion-label class="txt-label"> {{"LEYENDA" | translate}}</ion-label>
                                                            </ion-col>
                                                        </ion-row>
                                                        <ion-row>
                                                            <ion-col size="12">
                                                                <ion-button shape="round" size="small" color="success" class="card-btn" id="modallegend" (click)="startAnimation()">
                                                                    Ver más
                                                                </ion-button>
                                                            </ion-col>
                                                        </ion-row>
                                                    </ion-grid>
                                                </div>
                                            </div>
                                        </div>
                                        <ion-modal trigger="modallegend" #legendmodal>
                                            <ng-template>
                                                <ion-header>
                                                    <ion-toolbar>
                                                        <ion-title>
                                                            <ion-label class="txt-label"> {{"LEYENDA" | translate}}</ion-label>
                                                        </ion-title>
                                                        <ion-buttons slot="end">
                                                            <ion-button [strong]="true" (click)="cancel(2)">
                                                                <ion-icon name="close"></ion-icon>
                                                            </ion-button>
                                                        </ion-buttons>
                                                    </ion-toolbar>
                                                </ion-header>
                                                <ion-content class="ion-padding">

                                                    <ion-card class="legendcontent">
                                                        <ion-img src="../../assets/img/Leyenda1.webp"></ion-img>
                                                        <ion-card-title>
                                                            <ion-label class="txt-label"> {{"LEYENDA0" | translate}}</ion-label>
                                                        </ion-card-title>
                                                        <ion-card-content>
                                                            <ion-label>{{ 'LEYENDA1' | translate }}</ion-label>
                                                            <br />
                                                            <br />
                                                            <ion-label>{{ 'LEYENDA2' | translate }}</ion-label>
                                                            <br />
                                                            <br />
                                                            <ion-label>{{ 'LEYENDA3' | translate }}</ion-label>
                                                            <br />
                                                            <br />
                                                            <ion-label>{{ 'LEYENDA4' | translate }}</ion-label>
                                                            <br />
                                                            <br />
                                                            <ion-label>{{ 'LEYENDA5' | translate }}</ion-label>
                                                            <br />
                                                            <br />
                                                            <ion-label>{{ 'LEYENDA6' | translate }}</ion-label>
                                                            <br />
                                                            <br />
                                                            <ion-label>
                                                                <strong>
                                                                    {{ 'LEYENDA7' | translate }}
                                                                </strong>
                                                            </ion-label>
                                                        </ion-card-content>
                                                    </ion-card>
                                                </ion-content>
                                            </ng-template>
                                        </ion-modal>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="6">
                                        <div class="history content-card">
                                            <div class="mealimg">
                                                <div class="card-text">
                                                    <ion-grid>
                                                        <ion-row>
                                                            <ion-col size="12">
                                                                <ion-label class="txt-label"> {{"HISTORIA" | translate}}</ion-label>
                                                            </ion-col>
                                                        </ion-row>
                                                        <ion-row>
                                                            <ion-col size="12">
                                                                <ion-button shape="round" size="small" color="success" class="card-btn" id="modalhistory" (click)="startAnimation()">
                                                                    Ver más
                                                                </ion-button>
                                                            </ion-col>
                                                        </ion-row>
                                                    </ion-grid>
                                                </div>
                                            </div>
                                        </div>
                                        <ion-modal trigger="modalhistory" #historymodal>
                                            <ng-template>
                                                <ion-header>
                                                    <ion-toolbar>
                                                        <ion-title>
                                                            <ion-label class="txt-label"> {{"HISTORIA" | translate}}</ion-label>
                                                        </ion-title>
                                                        <ion-buttons slot="end">
                                                            <ion-button [strong]="true" (click)="cancel(3)">
                                                                <ion-icon name="close"></ion-icon>
                                                            </ion-button>
                                                        </ion-buttons>
                                                    </ion-toolbar>
                                                </ion-header>
                                                <ion-content class="ion-padding">

                                                    <ion-card class="legendcontent">
                                                        <ion-img src="../../assets/img/Historia1.jpeg"></ion-img>
                                                        <ion-card-title>
                                                            <ion-label class="txt-label"> {{"HISTORIA" | translate}}</ion-label>
                                                        </ion-card-title>
                                                        <ion-card-content>
                                                            <ion-label>{{ 'HISTORIA1' | translate }}</ion-label>
                                                            <br />
                                                            <br>
                                                            <ion-label>{{ 'HISTORIA2' | translate }}</ion-label>
                                                            <br />
                                                            <br>
                                                            <ion-label>{{ 'HISTORIA3' | translate }}</ion-label>
                                                        </ion-card-content>
                                                    </ion-card>
                                                </ion-content>
                                            </ng-template>
                                        </ion-modal>
                                    </ion-col>
                                    <ion-col size="6">
                                        <div class="lagoon content-card">
                                            <div class="mealimg">
                                                <div class="card-text">
                                                    <ion-grid>
                                                        <ion-row>
                                                            <ion-col size="12">
                                                                <ion-label class="txt-label"> {{"LAGUNA" | translate}}</ion-label>
                                                            </ion-col>
                                                        </ion-row>
                                                        <ion-row>
                                                            <ion-col size="12">
                                                                <ion-button shape="round" size="small" color="success" class="card-btn" id="modallagoon" (click)="startAnimation()">
                                                                    Ver más
                                                                </ion-button>
                                                            </ion-col>
                                                        </ion-row>
                                                    </ion-grid>
                                                </div>
                                            </div>
                                        </div>
                                        <ion-modal trigger="modallagoon" #lagoonmodal>
                                            <ng-template>
                                                <ion-header>
                                                    <ion-toolbar>
                                                        <ion-title>
                                                            <ion-label class="txt-label"> {{"LAGUNA" | translate}}</ion-label>
                                                        </ion-title>
                                                        <ion-buttons slot="end">
                                                            <ion-button [strong]="true" (click)="cancel(4)">
                                                                <ion-icon name="close"></ion-icon>
                                                            </ion-button>
                                                        </ion-buttons>
                                                    </ion-toolbar>
                                                </ion-header>
                                                <ion-content class="ion-padding">

                                                    <ion-card class="legendcontent">
                                                        <ion-img src="../../assets/img/VillaErnestina0.png"></ion-img>
                                                        <ion-card-title>
                                                            <!-- <ion-label class="txt-label"> {{"LAGUNA" | translate}}</ion-label> -->
                                                        </ion-card-title>
                                                        <ion-card-content>
                                                            <ion-label>{{ 'LAGUNA1' | translate }}</ion-label>
                                                            <br />
                                                            <br />
                                                            <ion-label>{{ 'LAGUNA2' | translate }}</ion-label>
                                                            <br />
                                                            <br />
                                                            <ion-label>{{ 'LAGUNA3' | translate }}</ion-label>
                                                            <br />
                                                            <br />
                                                            <ion-label>{{ 'LAGUNA4' | translate }}</ion-label>
                                                            <br />
                                                            <br />
                                                            <ion-label>{{ 'LAGUNA5' | translate }}</ion-label>
                                                            <br />
                                                            <br />
                                                            <ion-label>{{ 'LAGUNA6' | translate }}</ion-label>
                                                            <br />
                                                            <br />
                                                            <ion-label>{{ 'LAGUNA7' | translate }}</ion-label>
                                                        </ion-card-content>
                                                    </ion-card>
                                                </ion-content>
                                            </ng-template>
                                        </ion-modal>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </ion-accordion>
                    <ion-accordion value="third">
                        <ion-item slot="header" color="light">
                            <ion-label> {{"NUMEROS" | translate}}</ion-label>
                        </ion-item>
                        <div slot="content">
                            <ion-grid>
                                <ion-row>
                                    <ion-col>
                                        <ion-list>
                                            <ion-item-group>
                                                <ion-item-divider>
                                                    <ion-label>
                                                        {{'ANFITRION' | translate}}
                                                    </ion-label>
                                                </ion-item-divider>
                                                <ion-item>
                                                    <a href="tel:+523111032724">
                                                        <ion-chip>
                                                            <ion-avatar>
                                                                <img alt="Silhouette of a person's head" src="../../assets/img/avatar.svg" />
                                                            </ion-avatar>
                                                            <ion-label>{{"Mariela: "}}311 103 2724</ion-label>
                                                            <ion-icon name="call-outline"></ion-icon>
                                                        </ion-chip>
                                                    </a>
                                                </ion-item>
                                            </ion-item-group>
                                            <ion-item-group>
                                                <ion-item-divider>
                                                    <ion-label>
                                                        {{'TAXI' | translate}}
                                                    </ion-label>
                                                </ion-item-divider>
                                                <ion-item>
                                                    <a href="tel:+523111221670">
                                                        <ion-chip>
                                                            <ion-avatar>
                                                                <img alt="Silhouette of a person's head" src="../../assets/img/avatar.svg" />
                                                            </ion-avatar>
                                                            <ion-label>{{"Mario: "}} 311 122 1670</ion-label>
                                                            <ion-icon name="call-outline"></ion-icon>
                                                        </ion-chip>
                                                    </a>
                                                </ion-item>
                                                <ion-item>
                                                    <a href="tel:+523111227455">
                                                        <ion-chip>
                                                            <ion-avatar>
                                                                <img alt="Silhouette of a person's head" src="../../assets/img/avatar.svg" />
                                                            </ion-avatar>
                                                            <ion-label>{{"Baltazar: "}}311 122 7455</ion-label>
                                                            <ion-icon name="call-outline"></ion-icon>
                                                        </ion-chip>
                                                    </a>
                                                </ion-item>
                                            </ion-item-group>
                                            <ion-item-group>
                                                <ion-item-divider>
                                                    <ion-label>
                                                        {{'MANDADITOS' | translate}}
                                                    </ion-label>
                                                </ion-item-divider>
                                                <ion-item>
                                                    <a href="tel:+523112037754">
                                                        <ion-chip>
                                                            <ion-avatar>
                                                                <img alt="Silhouette of a person's head" src="../../assets/img/avatar.svg" />
                                                            </ion-avatar>
                                                            <ion-label>{{"José Luis Soto: "}}311 203 7754</ion-label>
                                                            <ion-icon name="call-outline"></ion-icon>
                                                        </ion-chip>
                                                    </a>
                                                </ion-item>
                                            </ion-item-group>
                                            <ion-item-group>
                                                <ion-item-divider>
                                                    <ion-label>
                                                        {{'VETERINARIO' | translate}}
                                                    </ion-label>
                                                </ion-item-divider>
                                                <ion-item>
                                                    <a href="tel:+523111143398">
                                                        <ion-chip>
                                                            <ion-avatar>
                                                                <img alt="Silhouette of a person's head" src="../../assets/img/avatar.svg" />
                                                            </ion-avatar>
                                                            <ion-label>{{"Juan Francisco Abundis: "}}311 114 3398</ion-label>
                                                            <ion-icon name="call-outline"></ion-icon>
                                                        </ion-chip>
                                                    </a>
                                                </ion-item>
                                            </ion-item-group>
                                            <ion-item-group>
                                                <ion-item-divider>
                                                    <ion-label>
                                                        {{'EMERGENCIAS' | translate}}
                                                    </ion-label>
                                                </ion-item-divider>
                                                <ion-item>
                                                    <a href="tel:911">
                                                        <ion-chip>
                                                            <ion-avatar>
                                                                <img alt="Silhouette of a person's head" src="../../assets/img/avatar.svg" />
                                                            </ion-avatar>
                                                            <ion-label>911</ion-label>
                                                            <ion-icon name="call-outline"></ion-icon>
                                                        </ion-chip>
                                                    </a>
                                                </ion-item>
                                                <ion-item>
                                                    <a href="tel:+523272440259">
                                                        <ion-chip>
                                                            <ion-avatar>
                                                                <img alt="Silhouette of a person's head" src="../../assets/img/avatar.svg" />
                                                            </ion-avatar>
                                                            <ion-label>{{'SEGURIDAD' | translate}}{{": "}}327 244 0259</ion-label>
                                                            <ion-icon name="call-outline"></ion-icon>
                                                        </ion-chip>
                                                    </a>
                                                </ion-item>
                                            </ion-item-group>
                                        </ion-list>
                                    </ion-col>

                                </ion-row>
                            </ion-grid>
                        </div>
                    </ion-accordion>
                </ion-accordion-group>
            </ion-card>
        </ion-row>

    </ion-grid>
</ion-content>