<ion-content [fullscreen]="true">
  <ion-grid class="padding-guest">
    <!--Domo Colibrí-->
    <ion-row
      class="padding-guest clickeable-row"
      (click)="viewDetails('colibri')"
    >
      <ion-col size="12" class="padding-guest">
        <ion-card class="padding-guest">
          <div class="imgdomo">
            <ion-img
              class="imgfondo"
              alt="Colibrí"
              src="../../assets/img/DomoPanoramico.jpeg"
            ></ion-img>
          </div>
          <div class="placetitle">
            <ion-label class="domotitle"> Colibrí </ion-label>
            <ion-label class="colibri-resalt">
              4 huéspedes · 1 habitación con tapanco · 2 camas · 1 baño · jacuzzi · cocina
            </ion-label>
          </div>
        </ion-card>

        <!--Código que puede servir para la descripción de Colibrí-->

        <!-- <div>
          <div class="product-title">
            <ion-label class="colibri-title">Glamping Colibrí</ion-label>
            <ion-label class="colibri-subtitle">Domo geodésico</ion-label>
            <ion-label class="colibri-description"
              >4 huéspedes · 1 habitación y tapanco · 2 camas · 1 baño · Jacuzzi
              · Cocina</ion-label
            >
            <ion-label class="colibri-insignias">
              <div class="insignias">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 32 32"
                  aria-hidden="true"
                  role="presentation"
                  focusable="false"
                  style="
                    display: block;
                    height: 14px;
                    width: 14px;
                    fill: currentcolor;
                  "
                >
                  <path
                    fill-rule="evenodd"
                    d="m15.1 1.58-4.13 8.88-9.86 1.27a1 1 0 0 0-.54 1.74l7.3 6.57-1.97 9.85a1 1 0 0 0 1.48 1.06l8.62-5 8.63 5a1 1 0 0 0 1.48-1.06l-1.97-9.85 7.3-6.57a1 1 0 0 0-.55-1.73l-9.86-1.28-4.12-8.88a1 1 0 0 0-1.82 0z"
                  ></path>
                </svg>
                &nbsp;Nuevo
              </div>
            </ion-label>
            <div class="separador1">
              <hr class="separador" />
            </div>
          </div>
        </div> -->
      </ion-col>
    </ion-row>
    <!--Bungalows-->
    <ion-row class="padding-guest secondproducts">
      <!--Elefante-->
      <ion-col
        size="6"
        class="padding-guest nomarginright"
        (click)="viewDetails('elephant')"
      >
        <ion-card class="padding-guest">
          <div class="imgbungalows">
            <ion-img
              class="imgfondobungalows"
              alt="Elefante"
              src="../../assets/img/VillaErnestina5.jpeg"
            ></ion-img>
          </div>
          <div class="placebungalowstitle">
            <ion-label class="bungalowstitle"> Elefante </ion-label>
            <ion-label class="bungalows-resum">
              2 huéspedes · 1 habitación · cama king · baño · terraza · cocina
            </ion-label>
          </div>
        </ion-card>
      </ion-col>
      <!--León-->
      <ion-col size="6" class="padding-guest" (click)="viewDetails('lion')">
        <ion-card class="padding-guest">
          <div class="imgbungalows">
            <ion-img
              class="imgfondobungalows"
              alt="Elefante"
              src="../../assets/img/lion2.jpeg"
            ></ion-img>
          </div>
          <div class="placebungalowstitle">
            <ion-label class="bungalowstitle"> León </ion-label>
            <ion-label class="bungalows-resum">
              4 huéspedes · 1 habitación · 2 camas queen · baño · terraza ·
              cocina
            </ion-label>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <!--Comentarios-->
    <ion-row class="padding-guest">
      <ion-col size="12" class="padding-guest">
        <!-- <div class="product-title padding-guest">
          <div class="separador1 padding-guest">
            <hr class="separador" />
          </div>
        </div> -->
        <swiper
          [config]="config2"
          #swiperSlideShow2
          *ngIf="isContentload"
          class="padding-guest"
        >
          <ng-template
            swiperSlide
            class="padding-guest"
            *ngFor="let comment of principalcomments; let i = index "
          >
            <div class="custom-card">
              <div class="stars">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 32 32"
                  aria-hidden="true"
                  role="presentation"
                  focusable="false"
                  style="
                    display: block;
                    height: 0.5625rem;
                    width: 0.5625rem;
                    fill: var(--linaria-theme_palette-hof);
                  "
                  *ngFor="let star of numSequence(comment.starts)"
                >
                  <path
                    fill-rule="evenodd"
                    d="m15.1 1.58-4.13 8.88-9.86 1.27a1 1 0 0 0-.54 1.74l7.3 6.57-1.97 9.85a1 1 0 0 0 1.48 1.06l8.62-5 8.63 5a1 1 0 0 0 1.48-1.06l-1.97-9.85 7.3-6.57a1 1 0 0 0-.55-1.73l-9.86-1.28-4.12-8.88a1 1 0 0 0-1.82 0z"
                  ></path>
                </svg>
                <span> &nbsp;{{"· "+comment.month}} </span>
                <span> &nbsp;{{"· "+comment.place}} </span>
              </div>
              <div class="comment">{{comment.comment}}</div>
              <div class="author">{{comment.name}}</div>
            </div>
          </ng-template>
        </swiper>
        <!-- <div class="product-title">
          <div class="separador1">
            <hr class="separador" />
          </div>
        </div> -->
      </ion-col>
    </ion-row>

    <!--Logotipo-->
    <ion-row class="padding-guest">
      <ion-col size="12" class="logovillafoot padding-guest">
        <!-- <div class="container-logo"> -->
          <ion-img
            src="../../assets/img/Logosinfondo.png"
            class="padding-guest"
          ></ion-img>
        <!-- </div> -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--Redes sociales -->
    <div class="custom-card foot">
        <div class="message">...Tu escape perfecto!!!</div>
        <div>
          <ion-button shape="round" fill="solid" size="small"
            onclick="window.open('tel:+523111032724', '_self')" 
            class="phone-button">
            <ion-icon name="call" slot="icon-only" size="large"></ion-icon>
          </ion-button>
          <ion-button shape="round" fill="solid" size="small" 
            onclick="window.open('https://wa.me/+523111032724?text=Hola%20Mariela%2C%20me%20interesa%20m%C3%A1s%20informaci%C3%B3n','_blank')" 
            class="whatsapp-button"
            > 
            <ion-icon name="logo-whatsapp" slot="icon-only" size="large"></ion-icon>
          </ion-button>
          <ion-button shape="round" fill="solid" size="small" 
            onclick="window.open('https://www.facebook.com/VillaErnestinaSamao?mibextid=ZbWKwL','_blank')" 
            class="facebook-button"> 
            <ion-icon name="logo-facebook" slot="icon-only" size="large"></ion-icon>
          </ion-button>
          <ion-button shape="round" fill="solid" size="small" 
            onclick="window.open('https://instagram.com/villa_ernestina?igshid=ZDc4ODBmNjlmNQ==','_blank')" 
            class="instagram-button"> 
            <ion-icon name="logo-instagram" slot="icon-only" size="large"></ion-icon>
          </ion-button>
          <ion-button shape="round" fill="solid" size="small"
            onclick="window.open('https://maps.app.goo.gl/aJZu2pizZSB13wfN7','_blank')" 
            class="maps-button">
            <ion-icon name="location" slot="icon-only" size="large"></ion-icon>
          </ion-button>
        </div>
    </div>
  <!--Redes sociales-->
</ion-content>
