ion-content {
    --background: #e8e8e8 !important;
    font-family: CerealBook !important;
}

ion-button {
    text-transform: capitalize;
    font-weight: bolder;
}

.comment {
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.message {
    padding-bottom: 0px;
    text-align: center;
    color: #f2b188;
    //color: #9b897b;
    font-family: "CerealBold";
    font-size: 17px;
    font-weight: bolder;
}

.logovillafoot {
    height: 120px;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;

}

.product-title {
    display: flex;
    justify-content: left;
    padding-left: 2px;
    padding-right: 2px;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

.colibri-title {
    color: black;
    font-weight: bolder;
    font-size: 23px;
}
.colibri-subtitle {
    color: black;
    font-size: 16px;
    padding-top: 10px;
    font-weight: bold;
}

.colibri-description {
    font-size: 14px;
    padding-top: 5px;
    font-weight: lighter;
}

.colibri-insignias {
    color: black;
    font-size: 15px;
    padding-top: 10px;
    font-weight: bold;
}

.insignias {
    display: flex;
    flex-direction: row;
}

.imgdomo {
    position: relative;
    background: black;
    height: 100%;
    width: 100%;
}

.imgfondo {
    opacity: 0.8;
    border-radius: 10px;
    height: 180px; /* altura visible */
    object-fit: cover;
    object-position: bottom; /* enfoca la parte superior */
}

.placetitle {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.foot {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
}

.whatsapp-button {
    --background: #25D366 !important;
    --color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px; 
}

.instagram-button {
    --background: #E1306C !important;
    --color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px; 
}

.maps-button {
    --background: #4285F4 !important;
    --color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px; 
}
.facebook-button {
    --background: #3b5998 !important;
    --color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px; 
}

.phone-button {
    --background: #fff !important;
    --color: #4285F4;
    border-radius: 50%;
    width: 45px;
    height: 45px; 
}

.separador1 {
    width: 100%;
}

.separador {
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #dad7d7; /* Línea gris oscuro */
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 13px;
    color: black;
    font-weight: bold;
}