ion-content {
    --background: #e8e8e8 !important;
    font-family: CerealBook !important;
}

ion-button {
    text-transform: capitalize;
    font-weight: bolder;
}

.no-padding {
    padding: 0;
    margin-bottom: 2px;
    margin-left: 1px;
    margin-right: 2px;
    margin-top: 0px;
}

.imgdomo {
    position: relative;
    background: black;
    height: 100%;
    width: 100%;
}

.imgfondo {
    opacity: 0.8;
    border-radius: 10px;
    height: 180px; /* altura visible */
    object-fit: cover;
    object-position: bottom; /* enfoca la parte superior */
}

.placetitle {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.domotitle {
    font-family: HighSpirited !important;
    font-size: 50px;
    color: white;
}

.colibri-resum {
    font-size: 14px;
    padding-top: 5px;
    font-weight: lighter;
    color:white;
    text-align: center;
}

.secondproducts {
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
}

.nomarginright {
    margin-right: 0px;
}

.name {
    font-size: 16px;
    font-weight: 800;
    padding-left: 10px;
    padding-top: 5px;
    text-align: left;
    color: black;
}

.firstproduct {
    margin-top: 4px;
    cursor: pointer;
}

.clickeable-row {
    cursor: pointer;
}

.clickable-row .imgdomo {
  background-color: #f0f0f0; /* Color de fondo del card */
  transition: background-color 0.3s ease;
}

.clickable-row .imgdomo:hover {
  background-color: #d9d9d9; /* Color de fondo al hacer hover */
}

.imgbungalows {
    position: relative;
    background: black;
    height: 100%;
    width: 100%;
}

.imgfondobungalows {
    opacity: 0.6;
    border-radius: 10px;
}

.placebungalowstitle {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.bungalowstitle {
    font-family: HighSpirited !important;
    font-size: 40px;
    color: white;
}

.bungalows-resum {
    font-size: 12px;
    padding-top: 5px;
    font-weight: lighter;
    color:white;
    text-align: center;
}

.strong {
    font-weight: bolder;
}

.accordion {
    font-size: 14px;
    font-weight: bolder;
    border-radius: 10px;
    background: #f2b188 !important;
}

.card-content {
    text-align: justify;
    background-color: white;
    //height: 100%;
}

.points {
    padding-top: 0;
}

.checkingrid {
    margin: 0px !important;
}

.nopaddingbottom {
    padding-bottom: 0px !important;
}

.nopaddingtop2 {
    padding-top: 4px !important;
}

.ion-padding {
    padding: 8px;
}

.bold {
    font-weight: bolder;
    padding-left: 10px;
    color: black;
    padding-top: 5px;
}

.tit {
    font-size: 16px;
    font-weight: bolder;
}

.number {
    background: #eec606;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: 10px;
}

.description {
    font-size: 12px;

    line-height: normal;
}

.row {
    padding-bottom: 7px;
}

.paddingbottom3 {
    padding-bottom: 3px;
}

.footcard {
    background: white;
}

.card-content2 {
    text-align: center;
    padding: 3px;
}

.txtcenter {
    text-align: center;
}

.contentcenter {
    justify-content: center;
    display: flex;
}

.custom-card {
    display: block;
    //margin: 20px;
    padding: 7px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

  .custom-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

//   .custom-card h2 {
//     margin-top: 0;
//     font-size: 14px;
//   }

//   .custom-card p {
//     margin: 0;
//     color: #666;
//   }

.comment {
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.message {
    padding-bottom: 0px;
    text-align: center;
    color: #f2b188;
    //color: #9b897b;
    font-family: "CerealBold";
    font-size: 17px;
}

.logovillafoot {
    height: 120px;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;

}

.product-title {
    display: flex;
    justify-content: left;
    padding-left: 2px;
    padding-right: 2px;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

.colibri-title {
    color: black;
    font-weight: bolder;
    font-size: 23px;
}
.colibri-subtitle {
    color: black;
    font-size: 16px;
    padding-top: 10px;
    font-weight: bold;
}

.colibri-description {
    font-size: 14px;
    padding-top: 5px;
    font-weight: lighter;
}

.colibri-insignias {
    color: black;
    font-size: 15px;
    padding-top: 10px;
    font-weight: bold;
}

.insignias {
    display: flex;
    flex-direction: row;
}

.separador1 {
    width: 100%;
}

.separador {
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #dad7d7; /* Línea gris oscuro */
}

.product-description {
    display: flex;
    justify-content: start;
    font-size: 15px;
    color: black;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin: 5px;
    line-height: 1.4;
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 13px;
    color: black;
    font-weight: bold;
}

.foot {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
}

.whatsapp-button {
    --background: #25D366 !important;
    --color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px; 
}

.instagram-button {
    --background: #E1306C !important;
    --color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px; 
}

.maps-button {
    --background: #4285F4 !important;
    --color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px; 
}
.facebook-button {
    --background: #3b5998 !important;
    --color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px; 
}

.phone-button {
    --background: #fff !important;
    --color: #4285F4;
    border-radius: 50%;
    width: 45px;
    height: 45px; 
}