<ion-content class="">
  <ion-grid>
    <!--Row Imagenes-->
    <ion-row class="">
      <ion-col size="12" class="colimages">
        <swiper
          [config]="config"
          #swiperSlideShow
          class="colimages"
          (slideChange)="onSlideChange()"
        >
          <ng-template
            swiperSlide
            *ngFor="let image of imagesSlides; let i = index"
          >
            <ion-img
              class="imgcolibri"
              alt="Bienvenida3"
              [src]="image"
            ></ion-img>
            <div class="back-button-container">
              <button type="button" class="back-button" (click)="goToGuest()">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 32 32"
                  focusable="false"
                  style="
                    display: block;
                    fill: none;
                    height: 20px;
                    width: 20px;
                    stroke: currentcolor;
                    stroke-width: 4;
                    overflow: visible;
                    color: black;
                  "
                >
                  <path
                    fill="none"
                    d="M20 28 8.7 16.7a1 1 0 0 1 0-1.4L20 4"
                  ></path>
                </svg>
              </button>
            </div>
            <div class="love-button-container">
              <a
                href="https://wa.me/+523111032724?text={{ loveMessage }}"
                target="_blank"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 32 32"
                  aria-hidden="true"
                  role="presentation"
                  focusable="false"
                  style="
                    display: block;
                    fill: none;
                    height: 20px;
                    width: 20px;
                    stroke: currentcolor;
                    stroke-width: 3;
                    overflow: visible;
                    color: black;
                  "
                >
                  <path
                    d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 6.98 0 0 0 2 11c0 7 7 12.27 14 17z"
                  ></path>
                </svg>
              </a>
            </div>
            <div class="counter-container">
              <div class="counter">
                {{ currentIndex +1}} / {{imagesSlides.length}}
              </div>
            </div>
          </ng-template>
        </swiper>
      </ion-col>
    </ion-row>
    <!--Row Informacion Principal-->
    <ion-row>
      <ion-col size="12" class="colimages">
        <div class="product-title">
          <ion-label class="colibri-title">Glamping Colibrí</ion-label>
          <ion-label class="colibri-subtitle">Domo geodésico</ion-label>
          <ion-label class="colibri-description"
            >4 huéspedes · 1 habitación y tapanco · 2 camas · 1 baño · Jacuzzi ·
            Cocina</ion-label
          >
          <ion-label class="colibri-insignias">
            <div class="insignias">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                aria-hidden="true"
                role="presentation"
                focusable="false"
                style="
                  display: block;
                  height: 14px;
                  width: 14px;
                  fill: currentcolor;
                "
              >
                <path
                  fill-rule="evenodd"
                  d="m15.1 1.58-4.13 8.88-9.86 1.27a1 1 0 0 0-.54 1.74l7.3 6.57-1.97 9.85a1 1 0 0 0 1.48 1.06l8.62-5 8.63 5a1 1 0 0 0 1.48-1.06l-1.97-9.85 7.3-6.57a1 1 0 0 0-.55-1.73l-9.86-1.28-4.12-8.88a1 1 0 0 0-1.82 0z"
                ></path>
              </svg>
              &nbsp;Nuevo
            </div>
          </ion-label>
          <ion-label class="colibri-price">
            <strong>$ 2,750 MXN</strong>
            noche
          </ion-label>
          <div class="separador-container">
            <hr class="separador" />
          </div>
        </div>
      </ion-col>
    </ion-row>
    <!--Row Descripción-->
    <ion-row>
      <ion-col size="12" class="colimages">
        <div class="product-description">
          ¡Vive lujo y aventura en nuestro Glamping de ensueño! Sumérgete en la
          naturaleza en nuestro domo para 4 personas, con cama king, cama queen
          en el tapanco, cocina equipada, baño privado y amplio armario.
          Relájate al aire libre con la tina climatizada, contempla las
          estrellas o disfruta de las vistas desde la malla volada. Con comedor
          al aire libre, A/C, TV con streaming, WiFi y dispositivos
          inteligentes, nuestro Glamping es el refugio perfecto para escapar de
          la rutina y conectar con la naturaleza.
        </div>
        <div class="separador-container">
          <hr class="separador" />
        </div>
      </ion-col>
    </ion-row>
    <!--Row Lo que ofrece-->
    <ion-row>
      <ion-col size="12">
        <div class="product-title">
          <ion-label class="colibri-title">Lo que ofrecemos</ion-label>
          <ion-label class="amenities" *ngFor="let amenity of amenities">
            <div class="amenities-img">
              
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                style="
                  display: block;
                  height: 24px;
                  width: 24px;
                  fill: currentcolor;
                "
              >
                <path
                  [attr.d]="amenity.svg"
                ></path>
              </svg>
            </div>
            <div class="amenities-title">{{amenity.title}}</div>
          </ion-label>
          <div class="separador-container">
            <hr class="separador" />
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
