<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Lista de huéspedes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-list no-border>
        <form [formGroup]="myForm">
          <ion-item>
            <ion-select interface="popover" formControlName="filter" placeholder="Mostrar por:">
              <ion-select-option value="all" (click)="filterByAll()">Todos</ion-select-option>
              <ion-select-option value="dateAdmission">Fecha de ingreso</ion-select-option>
              <ion-select-option value="lion">Habitación León</ion-select-option>
              <ion-select-option value="elephant">Habitación Elefante</ion-select-option>
            </ion-select>
          </ion-item>
        </form>
        <ion-item-sliding *ngFor="let item of huespeds; let i = index">
          <ng-container *ngIf="item.name != '' && myForm.value['filter'] !=''">
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-label>Fecha de ingreso:</ion-label>
                      <ion-label>{{item.dateAdmission.substring(0,10)}}</ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-label>Fecha de salida:</ion-label>
                      <ion-label>{{item.departureDate.substring(0,10)}}</ion-label>
                    </ion-col>
                    <ion-col>
                      <a href="https://wa.me/{{item.phone}}?text={{message}}" target="_blank"><ion-icon name='logo-whatsapp' slot="start"></ion-icon></a>
                    </ion-col>
                    <ion-col>
                      <a href="https://wa.me/{{item.phone}}?text={{item.token}}" target="_blank"><ion-label class="name">Token</ion-label></a>
                    </ion-col>
                    <ion-col>
                      <ion-label class="name">
                        {{item.name}}
                      </ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-note>Habitación:</ion-note>
                      <ion-chip *ngIf="item.room == 'León'" color="primary" class="ion-float-right">
                        <ion-label>{{item.room}}</ion-label>
                      </ion-chip>
                      <ion-chip *ngIf="item.room == 'Elefante'" color="warning" class="ion-float-right">
                        <ion-label>{{item.room}}</ion-label>
                      </ion-chip>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
          </ng-container>
          <!--ion-item>
            <ion-label>{{item.name}}</ion-label>
            <a href="https://wa.me/{{item.phone}}?text=¡Hola!%20tu%20token%20es%20{{item.token}}" target="_blank">Enviar token</a>
          </ion-item-->

          <ion-item-options side="end" (ionSwipe)="removeHuesped(item.token)">
            <ion-item-option expandable color="danger">
                <ion-icon name="trash-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>

        </ion-item-sliding>
        
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newHuesped()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
</ion-content>
