<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar
      show-clear-button="always"
      (ionChange)="search($event)"
      animated="true"
      placeholder="Huésped"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="back">
  <ion-row *ngIf="myForm.value.filter === 'today'">
    <ion-col size="10" >
      <form [formGroup]="myForm">
        <ion-item>
          <ion-select
            interface="popover"
            formControlName="filter"
            placeholder="Mostrar por:"
            value="dateAdmission"
            (click)="filter()"
          >
            <ion-select-option value="today">Ingreso Hoy</ion-select-option>
            <ion-select-option value="dateAdmission"
              >Próximos</ion-select-option
            >
            <ion-select-option value="process">En proceso</ion-select-option>
            <!-- <ion-select-option value="all"></ion-select-option> -->
          </ion-select>
        </ion-item>
      </form>
    </ion-col>
    <ion-col size="2">
      <ion-toggle [(ngModel)]="viewPrices" [enableOnOffLabels]="true"></ion-toggle>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="myForm.value.filter !== 'today'">
    <ion-col size="12" >
      <form [formGroup]="myForm">
        <ion-item>
          <ion-select
            interface="popover"
            formControlName="filter"
            placeholder="Mostrar por:"
            value="dateAdmission"
            (click)="filter()"
          >
            <ion-select-option value="today">Ingreso Hoy</ion-select-option>
            <ion-select-option value="dateAdmission"
              >Próximos</ion-select-option
            >
            <ion-select-option value="process">En proceso</ion-select-option>
            <!-- <ion-select-option value="all"></ion-select-option> -->
          </ion-select>
        </ion-item>
      </form>
    </ion-col>
  </ion-row>

  <div class="" *ngIf="myForm.value.filter !== 'today'">
    <ion-card class="card" *ngFor="let item of huespedsFilter; let i = index">
      <ion-card-header class="header-card">
        <ion-card-title class="title-card"
          >{{item.name | uppercase}}</ion-card-title
        >
        <ion-card-subtitle class="subtitle-card">
          <ion-chip
            [outline]="true"
            class="chip-card airbnb"
            *ngIf="item.platform == 'airbnb'"
          >
            <ion-label>{{"Airbnb"}}</ion-label>
          </ion-chip>
          <ion-chip
            [outline]="true"
            color="primary"
            class="chip-card"
            *ngIf="item.platform == 'direct'"
          >
            <ion-label>{{"Directo"}}</ion-label>
          </ion-chip>
          <ion-chip
            [outline]="true"
            color="warning"
            *ngIf="item.room == 'León'"
            class="chip-card"
          >
            <ion-avatar color="light">
              <img alt="image of leon" src="../../assets/img/leon.png" />
            </ion-avatar>
            <ion-label>{{item.room}}</ion-label>
          </ion-chip>
          <ion-chip
            [outline]="true"
            color="primary"
            *ngIf="item.room == 'Elefante'"
            class="chip-card"
          >
            <ion-avatar color="light">
              <img
                alt="image of elephant"
                src="../../assets/img/elefante.png"
              />
            </ion-avatar>
            <ion-label>{{item.room}}</ion-label>
          </ion-chip>
          <ion-chip
            [outline]="true"
            color="primary"
            *ngIf="item.room == 'Colibrí'"
            class="chip-card"
          >
            <ion-avatar color="light">
              <img alt="image of elephant" src="../../assets/img/colibri.png" />
            </ion-avatar>
            <ion-label>{{item.room}}</ion-label>
          </ion-chip>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="card-content">
        <ion-row>
          <ion-col size="6" class="card-col">
            <ion-card class="check">
              <ion-card-header class="header-day">
                <ion-card-subtitle
                  >{{getMonthName(item.dateAdmission)}}{{"
                  '"+item.departureDate.substring(2,4)}}</ion-card-subtitle
                >
                <ion-card-title class="day"
                  >{{item.dateAdmission.substring(8,10)}}</ion-card-title
                >
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="card-col">
            <ion-card class="check">
              <ion-card-header class="header-day">
                <ion-card-subtitle
                  >{{getMonthName(item.dateAdmission)}}{{"
                  '"+item.departureDate.substring(2,4)}}</ion-card-subtitle
                >
                <ion-card-title class="day"
                  >{{item.departureDate.substring(8,10)}}</ion-card-title
                >
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <div class="text-center">
          <a
            href="https://wa.me/{{deleteSpaces(item.phone)}}?text={{'Hola '+item.name +' '+ message+item.token}}"
            target="_blank"
          >
            <ion-chip [outline]="true">
              <ion-icon name="logo-whatsapp" color="success"></ion-icon>
              <ion-label>Info </ion-label>
              <ion-icon name="send" color="primary"></ion-icon>
            </ion-chip>
          </a>
          <a href="/?token={{item.token}}">
            <ion-chip [outline]="true">
              <ion-icon name="person-circle"></ion-icon>
              <ion-label>Perfil </ion-label>
            </ion-chip>
          </a>
          <a href="https://wa.me/{{item.phone}}" target="_blank">
            <ion-chip [outline]="true">
              <ion-icon
                name="logo-whatsapp"
                color="success"
                class="icon-center"
              ></ion-icon>
              <!-- <ion-label>Chat </ion-label>
                        <ion-icon name="send" color="primary"></ion-icon> -->
            </ion-chip>
          </a>
          <ion-button
            (click)="removeHuesped(item.token)"
            fill="clear"
            class="btn-delete"
          >
            <ion-icon name="trash-outline" color="danger"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
      <hr class="divider" />
      <div class="prices" *ngIf="item.platform === 'direct'">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="4" class="ion-text-center">
              <div class="price">{{item.price|currency}}</div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="advance">-{{item.advance|currency}}</div>
              <ion-button color="success" (click)="pay(item)" shape="round">
                <ion-icon name="checkmark-done-circle"></ion-icon>
              </ion-button>
              <!-- <ion-chip [outline]="true" color="primary" *ngIf="item.platform === 'direct'" class="chip-card">
                        </ion-chip> -->
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="rest">{{(item.price-item.advance)|currency}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card>

    <!-- <div class="huespeds" *ngIf="myForm.value.filter === 'today'">
           {{item.people}} Huésped(es) 
    </div> -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="newHuesped()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <div class="" *ngIf="myForm.value.filter === 'today'">
    <ion-card class="card" *ngFor="let item of huespedsFilter; let i = index">
      <div class="huespedname">
        <div class="namehuesped">{{item.name | titlecase}}</div>
      </div>
      <div class="roomhuesped">
        <ion-chip
          [outline]="true"
          class="chip-card airbnb"
          *ngIf="item.platform == 'airbnb'"
        >
          <ion-label>{{"Airbnb"}}</ion-label>
        </ion-chip>
        <ion-chip
          [outline]="true"
          color="primary"
          class="chip-card"
          *ngIf="item.platform == 'direct'"
        >
          <ion-label>{{"Directo"}}</ion-label>
        </ion-chip>
        <ion-chip
          [outline]="true"
          color="warning"
          *ngIf="item.room == 'León'"
          class="chip-card"
        >
          <ion-avatar color="light">
            <img alt="image of leon" src="../../assets/img/leon.png" />
          </ion-avatar>
          <ion-label>{{item.room}}</ion-label>
        </ion-chip>
        <ion-chip
          [outline]="true"
          color="primary"
          *ngIf="item.room == 'Elefante'"
          class="chip-card"
        >
          <ion-avatar color="light">
            <img alt="image of elephant" src="../../assets/img/elefante.png" />
          </ion-avatar>
          <ion-label>{{item.room}}</ion-label>
        </ion-chip>
        <ion-chip
          [outline]="true"
          color="primary"
          *ngIf="item.room == 'Colibrí'"
          class="chip-card"
        >
          <ion-avatar color="light">
            <img alt="image of elephant" src="../../assets/img/colibri.png" />
          </ion-avatar>
          <ion-label>{{item.room}}</ion-label>
        </ion-chip>
      </div>
      <div class="huespedroom">
        {{item.dateAdmission|date: 'd MMM' }} - {{item.departureDate|date: 'd
        MMM' }} ({{diffInDays(item.dateAdmission, item.departureDate)}})
      </div>
      <div class="huespedpeople">
        {{huespedQty(item.people)}}{{petsQty(item.pets)}}
      </div>
      <div class="text-center">
        <a
          href="https://wa.me/{{deleteSpaces(item.phone)}}?text={{'Hola '+item.name +' '+ message+item.token}}"
          target="_blank"
        >
          <ion-chip [outline]="true">
            <ion-icon name="logo-whatsapp" color="success"></ion-icon>
            <ion-label>Info </ion-label>
            <ion-icon name="send" color="primary"></ion-icon>
          </ion-chip>
        </a>
        <a href="/?token={{item.token}}">
          <ion-chip [outline]="true">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>Perfil </ion-label>
          </ion-chip>
        </a>
        <a href="https://wa.me/{{item.phone}}" target="_blank">
          <ion-chip [outline]="true">
            <ion-icon
              name="logo-whatsapp"
              color="success"
              class="icon-center"
            ></ion-icon>
            <!-- <ion-label>Chat </ion-label>
                        <ion-icon name="send" color="primary"></ion-icon> -->
          </ion-chip>
        </a>
        <ion-button
          (click)="removeHuesped(item.token)"
          fill="clear"
          class="btn-delete"
        >
          <ion-icon name="trash-outline" color="danger"></ion-icon>
        </ion-button>
      </div>
      <div class="prices" *ngIf="item.platform === 'direct' && viewPrices">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="4" class="ion-text-center">
              <div class="price">{{item.price|currency}}</div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="advance">-{{item.advance|currency}}</div>
              <ion-button color="success" (click)="pay(item)" shape="round">
                <ion-icon name="checkmark-done-circle"></ion-icon>
              </ion-button>
              <!-- <ion-chip [outline]="true" color="primary" *ngIf="item.platform === 'direct'" class="chip-card">
                        </ion-chip> -->
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="rest">{{(item.price-item.advance)|currency}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="newHuesped()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
